<div class="card <%= klass %>">
  <div class="card-header">
    <%= title %>
  </div>
  <div class="card-body">
    <table class="table table-responsive-sm table-striped table-hover">
      <thead>
        <tr class="thead-dark">
          <th><%= t('.code') %></th>
          <th><%= t('.name') %></th>
          <th><%= t('.type') %></th>
          <th><%= t('.credit') %></th>
          <th><%= t('.ects') %></th>
          <th><%= t('.lecturer') %></th>
          <th><%= t('actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% courses.each do |available_course| %>
          <tr>
            <td><%= available_course.code %></td>
            <td><%= available_course.name %></td>
            <td><%= enum_t(available_course.curriculum_course, :type) %></td>
            <td><%= available_course.credit.to_i %></td>
            <td><%= available_course.ects.to_i %></td>

            <%= simple_form_for([@student, CourseEnrollment.new()]) do |f| %>
              <%= f.hidden_field :available_course_id, value: available_course.id %>
              <% if available_course.errors.empty? %>
                <td><%= f.association :available_course_group,
                          collection:  available_course.enrollable_groups,
                          include_blank: false,
                          label: false,
                          label_method: lambda { |group| full_name(group.coordinator.identities.formal.first) } %></td>
                <td><%= f.button(:submit, t('.add'), class: 'btn btn-outline-success btn-sm') %></td>
              <% else %>
                <td></td>
                <td>
                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="<%= available_course.errors.full_messages.first %>">
                    <button class="btn btn-sm btn-outline-secondary" style="pointer-events: none;" type="button" disabled><%= t('.add') %></button>
                  </span>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
