<div class="card-header">
  <%= fa_icon 'user' %><strong><%= t('.student_info') %></strong>
</div>
<div class="card-body table-responsive">
  <table class='table table-bordered table-hover'>
    <tbody>
      <tr>
        <th><%= t('.student_number') %></th>
        <td><%= @student.student_number %></td>
      </tr>
      <tr>
        <th><%= t('.year_and_semester') %></th>
        <td><%= "#{@student.year}/#{@student.semester}" %></td>
      </tr>
      <tr>
        <th><%= t('.program') %></th>
        <td><%= @student.unit.name %></td>
      </tr>
      <tr>
        <th><%= t('.academic_term') %></th>
        <td><%= full_name(@service.active_term) %></td>
      </tr>
      <tr>
        <th><%= t('.gpa') %></th>
        <td><%= @student.gpa %></td>
      </tr>
      <tr>
        <th><%= t('.enrollment_status') %></th>
        <td><%= t('activerecord.enums.semester_registration.statuses')[@student.current_registration.status.to_sym] %></td>
      </tr>
    </tbody>
  </table>
</div>
