<div class='row'>
  <div class='col-lg-12'>
    <div class="alert alert-light">
      <%= link_to_back root_path %>
    </div>

    <div class="card">
      <div class="card-header">
        <%= fa_icon 'book' %><strong><%= t('.course_enrollments') %></strong>
      </div>
      <div class="card-body">
        <div class="list-group">
          <% if @student.current_registration.saved? %>
            <% url = list_student_course_enrollments_url(@student) %>
          <% else %>
            <% url = new_student_course_enrollment_url(@student) %>
          <% end %>

          <%= link_to url, class: 'list-group-item list-group-item-action align-items-center' do %>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= @student.unit.name %></h5>
            </div>
            <p class="mb-1"><%= "#{t('.registration_date_range')}: #{@student.registrable_for_online_course_date_range}" %></p>
            <small><%= "#{t('.registration_status')}: #{enum_t(@student.current_registration, :status)}" %></small>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
