<div class='row'>
  <div class='col-lg-12'>
    <div class="alert alert-light">
      <%= link_to_back root_path %>
    </div>

    <div class="card">
      <div class="card-header">
        <%= fa_icon 'align-justify' %><strong><%= t('.student_records') %></strong>
      </div>
      <div class="card-body">
        <div class="list-group list-group-sm">
          <% @students.each do |student| %>
            <%= link_to new_course_enrollment_url(student_id: student.id), class: 'list-group-item list-group-item-action justify-content-between align-items-center' do %>
              <%= student.unit.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
