<div class='row'>
  <div class='col-lg-12'>
    <div class="alert alert-light">
      <%= link_to_back root_path %>
    </div>

    <div class="card">
      <div class="card-header">
        <%= fa_icon 'book' %><strong><%= t('.course_enrollments') %></strong>
      </div>
      <div class="card-body">
        <div class="list-group">
          <% if @service.enrollment_status != :saved %>
            <% url = new_student_course_enrollment_url(@student) %>
          <% else %>
            <% url = list_student_course_enrollments_url(@student) %>
          <% end %>

          <%= link_to url, class: 'list-group-item list-group-item-action align-items-center' do %>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= @student.unit.name %></h5>
            </div>
            <p class="mb-1"><%= @student.registation_date_range %></p>
            <small><%= "#{t('.enrollment_status')}: #{t('activerecord.enums.course_enrollment.statuses')[@service.enrollment_status]}" if @service.enrollment_status.presence %></small>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
