<div class='row'>
  <div class='col-lg-12'>
    <div class="alert alert-light">
      <%= link_to_back course_enrollments_path %>
    </div>

    <div class="card">
      <div class="card-header">
        <%= fa_icon 'user' %><strong><%= t('.student_info') %></strong>
      </div>
      <div class="card-body table-responsive">
        <table class='table table-bordered table-hover'>
          <tbody>
            <tr>
              <th><%= t('.student_number') %></th>
              <td><%= @student.student_number %></td>
            </tr>
            <tr>
              <th><%= t('.year_and_semester') %></th>
              <td><%= "#{@student.year}/#{@student.semester}" %></td>
            </tr>
            <tr>
              <th><%= t('.program') %></th>
              <td><%= @student.unit.name %></td>
            </tr>
            <tr>
              <th><%= t('.academic_term') %></th>
              <td><%= full_name(@student.active_term) %></td>
            </tr>
            <tr>
              <th><%= t('.enrollment_status') %></th>
              <td><%= t('activerecord.enums.course_enrollment.statuses')[@student.enrollment_status] %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% if @student.registrable_for_online_course? %>
  <div class='row'>
    <div class="col-sm-6">
      <div class="card border-default mb-3">
        <div class="card-header">
          <strong><%= t('.available_courses') %></strong>
          <div class="float-right">
            <strong><%= "#{t('.selectable_ects')}: #{@student.selectable_ects}" %></strong>
          </div>
        </div>
        <% @student.course_catalog.each do |semester, courses| %>
          <div class="card-body">
            <%= render 'semesters', semester: semester, courses: courses %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-success mb-3">
        <div class="card-header">
          <strong><%= t('.selected_courses') %></strong>
          <div class="float-right">
            <strong><%= "#{t('.selected_ects')}: #{@student.selected_ects}" %></strong>
          </div>
        </div>
        <div class="card-body">
          <div class="card-body table-responsive">
            <%= render 'course_enrollments',
                       klass:   'border-primary',
                       courses: @student.selected_catlog %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">
    <%= fa_icon 'exclamation-triangle', class: 'fa-2x' %>
    <strong><%= t('.not_proper_register_event_range') %></strong>
  </div>
<% end %>
