<div class='row'>
  <div class='col-lg-12'>
    <div class="alert alert-light">
      <%= link_to_back course_enrollments_path %>
    </div>

    <div class="card">
      <%= render 'student_info' %>
      <div class="card-footer">
        <div class="float-right">
          <%= link_to(t('.save_enrollments'), save_course_enrollments_path, class: 'btn btn-success') %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='row'>
  <div class="col-sm-6">
    <div class="card border-default mb-3">
      <div class="card-header">
        <strong><%= t('.available_courses') %></strong>
        <div class="float-right">
          <strong><%= "#{t('.selectable_ects')}: #{@student.selectable_ects}" %></strong>
        </div>
      </div>
      <% @student.selectable_courses.each do |semester, courses| %>
        <div class="card-body">
          <%= render 'semesters', semester: semester, courses: courses %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-success mb-3">
      <div class="card-header">
        <strong><%= t('.selected_courses') %></strong>
        <div class="float-right">
          <strong><%= "#{t('.selected_ects')}: #{@student.selected_ects}" %></strong>
        </div>
      </div>
      <div class="card-body">
        <div class="card-body table-responsive">
          <%= render 'course_enrollments', klass: 'border-primary', courses: @student.selected_courses %>
        </div>
      </div>
    </div>
  </div>
</div>
