<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= t('smart_search') %>
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
      <div class="card-body">
        <%= form_tag prospective_students_path, method: :get do %>
          <div class="form-group">
            <%= text_field_tag 'term', params[:term], placeholder: t('.smart_search_placeholder'), class: 'form-control' %>
          </div>
          <%= submit_tag t('search'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <%= t('detailed_search') %>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
      <div class="card-body">
        <%= form_tag prospective_students_path, method: :get do %>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="name"><%= t('.meb_status') %></label>
                <%= select_tag(:meb_status,
                              options_for_select([[t('.graduated'), true], [t('.not_graduated_or_unknown'), false]]),
                              include_blank: true,
                              class: 'form-control',
                              style: 'width: 100%') %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="name"><%= t('.military_status') %></label>
                <%= select_tag(:military_status,
                              options_for_select([[t('.unproblematic'), true], [t('.must_see_recruiting_office'), false]]),
                              include_blank: true,
                              class: 'form-control',
                              style: 'width: 100%') %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="name"><%= t('.obs_status') %></label>
                <%= select_tag(:obs_status,
                              options_for_select([[t('.unproblematic'), true], [t('.student_in_a_different_unit'), false]]),
                              include_blank: true,
                              class: 'form-control',
                              style: 'width: 100%') %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="unit_id"><%= t('.unit') %></label>
                <%= select_tag(:unit_id,
                               options_from_collection_for_select(Unit.active.programs.order(:name), :id, :name),
                               include_blank: true,
                               class: 'form-control',
                               style: 'width: 100%') %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="student_entrance_type_id"><%= t('.student_entrance_type') %></label>
                <%= select_tag(:student_entrance_type_id,
                               options_from_collection_for_select(StudentEntranceType.order(:name), :id, :name),
                               include_blank: true,
                               class: 'form-control',
                               style: 'width: 100%') %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= submit_tag t('search'), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    $('#unit_id').select2();
  });
</script>