<div id="SearchForms" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="Search">
      <h5 class="mb-0">
        <a class="collapsed"
           data-toggle="collapse"
           href="#collapseSearch"
           id="collapseSearchLink"
           aria-expanded="false"
           aria-controls="Search">
          <%= t('search') %>
        </a>
        <div class="float-right">
          <%= link_to t('reset'), committee_agendas_path, class: 'btn btn-warning btn-sm' %>
        </div>
      </h5>
    </div>
    <div id="collapseSearch"
         class="collapse show"
         role="tabpanel"
         aria-labelledby="Search"
         data-parent="#SearchForms">
      <div class="card-body">
        <%= form_tag committee_agendas_path, method: :get do %>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <%= label_tag :term, t('smart_search') %>
                <%= text_field_tag :term,
                                   params[:term],
                                   placeholder: t('.smart_search_placeholder'),
                                   class: 'form-control' %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= label_tag(:status, t('.status')) %>
                <%= select_tag(:status,
                               options_for_select(enum_options_for_select(Agenda, :status), params[:status]),
                               include_blank: true,
                               class: 'form-control') %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= label_tag(:agenda_type_id, t('.agenda_type_id')) %>
                <%= select_tag(:agenda_type_id,
                              options_from_collection_for_select(AgendaType.all, :id, :name, params[:agenda_type_id]),
                              include_blank: true,
                              class: 'form-control') %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= submit_tag t('search'), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    $('#agenda_type_id').select2();
  });
</script>
