<div class='col-md-6'>
  <div class='card-group'>
    <div class='card p-4'>
      <div class='card-body'>
        <h1><%= t('.login') %></h1>
        <p class='text-muted'><%= t('.login_to_your_account') %></p>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='input-group mb-3'>
            <div class='input-group-prepend'>
              <span class='input-group-text'>
                <%= fa_icon('user') %>
              </span>
            </div>
            <%= f.input :id_number, required: true, autofocus: true, label: false, wrapper: false, as: :integer %>
          </div>
          <div class='input-group mb-3'>
            <div class='input-group-prepend'>
              <span class='input-group-text'>
                <%= fa_icon('lock') %>
              </span>
            </div>
            <%= f.input :password, required: true, label: false, wrapper: false %>
          </div>
          <div class='input-group mb-3'>
            <%= f.input :remember_me, as: :boolean, inline_label: true, label: t('.remember_login') %>
          </div>

          <div class='row'>
            <div class='col-4'>
              <%= f.button :submit, t('.login'), class: 'btn btn-primary px-4' %>
            </div>
            <div class='btn-group-vertical'>
              <%= link_to t('.account_activation'), activation_path %>
              <%= link_to t('.did_you_forget'), recover_path %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
