<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'archive' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(meeting, url: url, method: method) do |f| %>
          <div class='row'>
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :meeting_no, required: true, input_html: { min: 1 } %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :meeting_date, as: :date_time_picker %>
            </div>
            <div class="form-group col-lg-12">
              <div class='card-header'>
                <%= fa_icon 'tasks', text: t('.agendas') %>
              </div>
            </div>
            <%= f.simple_fields_for :meeting_agendas do |meeting_agenda| %>
              <%= render 'meeting_agenda_fields', f: meeting_agenda %>
            <% end %>
            <div class="form-group col-sm-12">
              <%= link_to_add_association t('.new_agenda_link'), f, :meeting_agendas, class: 'btn btn-outline-primary btn-sm' %>
            </div>
          </div>
          <div class="card-footer">
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'shared/cocoon' %>

<script type="text/javascript">
  flatpickr(".datetimepicker", { altInput: true })
</script>
