<div class='alert alert-light'>
  <%= link_to_back(:back) %>
  <span class="pull-right">
    <%= link_to(fa_icon('tasks', text: t('.agendas')), committee_agendas_path(@committee),
                class: 'btn btn-dark btn-sm') %>
  </span>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'archive', text: @meeting.unit.name %>
      </div>
      <div class='card-body'>
        <table class='table table-responsive-sm table-striped'>
          <thead>
            <tr>
              <th><%= t('.meeting_no') %></th>
              <th><%= t('.meeting_date') %></th>
              <th><%= t('.year') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @meeting.meeting_no %></td>
              <td><%= @meeting.meeting_date %></td>
              <td><%= @meeting.year %></td>
              <td><%= link_to_edit(edit_committee_meeting_path(@committee, @meeting)) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='card-header'>
        <%= fa_icon 'tasks', text: t('.agendas') %>
      </div>
      <div class='card-body'>
        <table class='table table-responsive-sm table-striped'>
          <thead>
            <tr>
              <th><%= t('.sequence_no') %></th>
              <th><%= t('.description') %></th>
              <th><%= t('.status') %></th>
              <th><%= t('.agenda_type') %></th>
              <th><%= t('.decision_no')%></th>
              <th><%= t('.decision_description') %></th>
              <th><%= t('.decision_date') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <% @agendas.each do |agenda| %>
            <tr>
              <td><%= agenda.sequence_no %></td>
              <td><%= agenda.description %></td>
              <td><%= enum_t(agenda, :status) %></td>
              <td><%= agenda.agenda_type.name %></td>
              <td><%= agenda.decision.try(:decision_no) %></td>
              <td><%= agenda.decision.try(:description) %></td>
              <td><%= agenda.decision.try(:created_at).try(:to_date) %></td>
              <td>
                <% if agenda.decision.present? %>
                  <%= link_to_edit(edit_committee_meeting_agenda_decision_path(@committee, agenda), t('.update_decision')) %>
                <% else %>
                  <%= link_to_new(new_committee_meeting_agenda_decision_path(@committee, agenda), t('.create_decision')) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
