<%= render 'search', locals: { term: params[:term] } %>

<% if params[:term] %>
  <div class='col-sm-12'>
    <div class='card'>
      <div class="card-header">
        <%= fa_icon 'search' %> <%= params[:term] %> için arama sonuçları
      </div>
      <div class="card-body">
        <div class="col-sm-12">
          <% if @users.any? %>
            <div class="list-group">
              <% @users.each do |user| %>
                <%= link_to profiles_show_path(user.slug), class: 'list-group-item list-group-item-action' do %>
                  [<%= user.try(:title) %>] - <%= full_name(user.identities.user_identity) %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <h2> Aradığınız kriterlere göre bir sonuç bulunamadı...</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>