<% @students.each do |student| %>
  <div class='card'>
    <div class='card-header'>
      <%= fa_icon 'bookmark', text: student.unit_name %>
      <div class='card-header-actions'>
        <%= link_to_actions(student, except: %w[destroy show]) %>
      </div>
    </div>

    <div class='card-body'>
      <table class='table table-responsive-sm'>
        <thead>
          <tr>
            <th><%= t('.student_number') %></th>
            <th><%= t('.status') %></th>
            <th><%= t('year') %></th>
            <th><%= t('semester') %></th>
            <th><%= t('.scholarship_type') %></th>
            <th><%= t('.stage') %></th>
            <th><%= t('.exceeded_education_period') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= student.student_number %></td>
            <td><%= enum_t(student, :status) %></td>
            <td><%= student.year %></td>
            <td><%= student.semester %></td>
            <td><%= student.scholarship_type_name %></td>
            <td><%= student.stage_name %></td>
            <td><%= student.exceeded_education_period ? t('yes') : t('no') %></td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th><%= t('.entrance_type') %></th>
            <th><%= t('.registration_date') %></th>
            <th><%= t('.registration_term') %></th>
            <th><%= t('.graduation_date') %></th>
            <th><%= t('.graduation_term') %></th>
            <th><%= t('.other_studentship') %></th>
            <th><%= t('.preparatory_class') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= student.entrance_type&.name %></td>
            <td><%= l(student.registration_date, format: '%d %b %Y') if student.registration_date %></td>
            <td><%= full_name(student.registration_term) %></td>
            <td><%= l(student.graduation_date, format: '%d %b %Y') if student.graduation_date %></td>
            <td><%= full_name(student.graduation_term) %></td>
            <td><%= student.other_studentship ? t('yes') : t('no') %></td>
            <td><%= student.preparatory_class %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
