<%= simple_form_for([@country, city]) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class='form-group col-sm-12'>
      <label>Şehrin Adı</label>
      <%= f.input :name, required: true, label: false, input_html: { class: 'form-control' }, wrapper: false %>
    </div>
  </div>
  <div class="row">
    <div class='form-group col-sm-6'>
      <label>ISO Kodu</label>
      <%= f.input :iso, required: true, label: false, input_html: { class: 'form-control' }, wrapper: false %>
    </div>
    <div class='form-group col-sm-6'>
      <label>Nuts Kodu</label>
      <%= f.input :nuts_code, required: true, label: false, input_html: { class: 'form-control' }, wrapper: false %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary", role: "button" %>
    <%= link_to 'Geri', :back, class: "btn btn-secondary", role: "button" %>
  </div>
<% end %>
