<div class='row'>
  <div class='col-lg-12'>
    <div class='alert alert-light'>
      <%= link_to_back(:back) %>
    </div>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'users' %><b><%= t('.students', course_name: @course.name) %></b>
        <div class='card-header-actions'>
          <span class='pull-right'>
            <input type="submit" value=<%= t('save') %> class="btn btn-outline-success btn-sm" form="edit_grades">
          </span>
        </div>
      </div>
      <div class='card-body'>
        <table class='table table-responsive-sm table-striped table-hover'>
          <thead class='thead-dark'>
            <tr>
              <th style='width: 20%'><%= t('.student_number') %></th>
              <th style='width: 40%'><%= t('.name') %></th>
              <th style='width: 15%'><%= t('.year_and_semester') %></th>
              <th style='width: 15%'><%= t('.group_name') %></th>
              <th style='width: 10%'><%= @assessment.name %></th>
            </tr>
          </thead>
          <tbody>
            <%= simple_form_for(@assessment, url: given_course_assessment_path(@course, @assessment), html: { id: :edit_grades }) do |f| %>
              <%= f.simple_fields_for :grades, @grades do |grade| %>
                <% enrollment = grade.object.course_enrollment %>
                <%= grade.input :course_assessment_method_id, as: :hidden, input_html: { value: @assessment.id } %>
                <%= grade.input :course_enrollment_id, as: :hidden, input_html: { value: enrollment.id } %>

                <tr>
                  <% student = enrollment.student %>
                  <td><%= student.student_number %></td>
                  <td><%= full_name(student.user.identities.formal.first) %></td>
                  <td><%= "#{student.year}/#{student.semester}" %></td>
                  <td><%= enrollment.available_course_group.name %></td>
                  <td><%= grade.input(:point, label: false) %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
