<div class='alert alert-light'>
  <%= link_to_new(new_university_type_path, t('.new_university_type_link')) %>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'align-justify', text: t('.card_header') %>
      </div>
      <div class='card-body'>
        <table class='table table-responsive-sm table-striped'>
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.code') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @university_types.each do |university_type| %>
              <tr>
                <td><%= university_type.name %></td>
                <td><%= university_type.code %></td>
                <td>
                  <%= link_to_edit(edit_university_type_path(university_type)) %>
                  <%= link_to_destroy(university_type) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label='pagination'>
      <ul class='pagination justify-content-center'>
        <%== pagy_nav_bootstrap(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
