<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'tags' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(course_unit_group) do |f| %>
          <div class='row'>
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.input :name, required: true %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :total_ects_condition, required: true %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :unit %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :course_group_type %>
            </div>
            <div class="form-group col-sm-6">
              <%= f.association :courses, collection: Course.all, required: true, label_method: :name_with_code %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'select2' %>
