<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'tags' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(course_group) do |f| %>
          <div class='row'>
            <div class='col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='col-sm-12'>
              <%= f.input :name, required: true %>
            </div>
            <div class='col-sm-6'>
              <%= f.input :total_ects_condition, required: true, input_html: { min: 0 } %>
            </div>
            <div class='col-sm-6'>
              <%= f.association :unit,
                                collection: Unit.active.academic.without_programs.order(:name),
                                label_method: :names_depth_cache %>
            </div>
            <div class='col-sm-6'>
              <%= f.association :course_group_type %>
            </div>
            <div class="col-sm-6">
              <%= f.association :courses,
                                collection: f.object.unit.present? ? f.object.unit.courses.active : [],
                                required: true,
                                label_method: :name_with_code %>
            </div>
            <div class='col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'js' %>
