<div class='alert alert-light'>
  <%= link_to_new new_course_group_path, t('.new_course_group_link') %>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'tags', text: t('.card_header') %>
      </div>
      <div class='card-body'>
        <%= render 'components/smart_search_form',
                   path: course_groups_path,
                   placeholder: t('.search_placeholder') %>
        <table class='table table-responsive-sm table-striped'>
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.total_ects_condition') %></th>
              <th><%= t('.unit') %></th>
              <th><%= t('.course_group_type') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @course_groups.each do |course_group| %>
              <tr>
                <td><%= course_group.name %></td>
                <td><%= course_group.total_ects_condition %></td>
                <td><%= course_group.unit.try(:name) %></td>
                <td><%= course_group.course_group_type.try(:name) %></td>
                <td>
                  <%= link_to_show(course_group_path(course_group)) %>
                  <%= link_to_edit(edit_course_group_path(course_group)) %>
                  <%= link_to_destroy(course_group) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label='pagination'>
      <ul class='pagination justify-content-center'>
        <%== pagy_nav_bootstrap(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
