<div class='row'>
  <div class='col-sm-12'>
    <%= action_bar do %>
      <%= link_to_back(:back) %>
    <% end %>

    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'user-tag' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(@query_store) do |f| %>
          <div class="col-sm-12">
            <%= f.input :name %>
          </div>

          <div class='col-sm-12'>
            <%= f.input :type, collection: enum_options_for_select(f.object.class, :type) %>
          </div>

          <div class="col-sm-12">
            <%= f.input :scope_name, as: :hidden %>
          </div>

          <div class='row mr-0 ml-0'>
            <% @query_store.scope_klass.fields_for_form.each do |filter, field_group| %>
              <div class="col-sm-6">
                <div class="card">
                  <div class='card-header'>
                    <strong><%= filter %></strong>
                  </div>
                  <div class='card-body'>
                    <div class="row" data-filter-name="<%= filter %>">
                      <% field_group.each do |field| %>
                        <div class="col-sm-12 <%= field.for %>">
                          <%= f.label field.name, field.label %>
                          <%= f.input field.name,
                                      as:         field.as,
                                      collection: field.collection,
                                      required:   field.required,
                                      label:      false,
                                      input_html: {
                                        multiple: field.multiple,
                                        data:     {
                                          filter: filter,
                                          type:   field.type,
                                          for:    field.for
                                        }
                                      } %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="col-sm-12">
            <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function(){
    $('select[data-type="value_type"]').change(function () {
      filter_name = $(this).attr('data-filter')
      parent      = $('div[data-filter-name="' + filter_name + '"]')

      if (this.value == 'static'){
        $(parent).children('.static').show()
        $(parent).find('[data-for="static"]').prop( 'disabled', false );

        $(parent).children('.dynamic').hide()
        $(parent).find('[data-for="dynamic"]').prop( 'disabled', true );
      } else if (this.value == 'dynamic') {
        $(parent).children('.dynamic').show()
        $(parent).find('[data-for="dynamic"]').prop( 'disabled', false );

        $(parent).children('.static').hide()
        $(parent).find('[data-for="static"]').prop( 'disabled', true );
      }
    })

    $('select[data-type="value_type"]').trigger('change')
    $('select').select2()
  })
</script>
