<div class='row'>
  <div class='col-sm-12'>
    <%= action_bar do %>
      <%= link_to_back(:back) %>
    <% end %>

    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'user-tag' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(@query_store) do |f| %>
          <div class="col-sm-12">
            <%= f.input :name %>
          </div>

          <div class='col-sm-12'>
            <%= f.input :type, collection: enum_options_for_select(f.object.class, :type) %>
          </div>

          <div class="col-sm-12">
            <%= f.input :scope_name, as: :hidden %>
          </div>

          <div class='row mr-0 ml-0'>
            <% @query_store.scope_klass.fields_for_form.each do |filter, field_group| %>
              <div class="col-sm-6">
                <div class="card">
                  <div class='card-header'>
                    <strong><%= filter %></strong>
                  </div>
                  <div class='card-body'>
                    <div class="row">
                      <% field_group.each do |field| %>
                        <div class="col-sm-12">
                          <%= f.label field.name, field.label %>
                          <%= f.input field.name,
                                      as: field.as,
                                      collection: field.collection,
                                      required: field.required,
                                      label: false,
                                      input_html: { multiple: field.multiple } %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="col-sm-12">
            <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
