<%= action_bar do %>
  <%= link_to_back :back %>
  <%= link_to_edit [:edit, @query_store] %>
<% end %>

<div class="card">
  <div class='card-header'>
    <%= t('.total_number_of_records') %> <span class="badge badge-success"><%= @results.size %></span>
  </div>

  <div class="card-body">
    <% if @results.size > 0 && @results.first.class.respond_to?(:search) %>
      <%= render 'layouts/shared/smart_search_form',
                 path: [:preview, @query_store],
                 placeholder: t('.smart_search_placeholder') %>
    <% end %>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <% @attributes.keys.each do |attribute| %>
          <th><%= t(attribute,
                    scope: [:activerecord, :attributes, @scope.model.to_s.underscore],
                    default: attribute.to_s) %></th>
        <% end %>
      </thead>

      <tbody>
        <% @collection.each do |item| %>
          <tr>
            <% @attributes.values.each do |attribute| %>
              <td><%= item.public_send(attribute) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <nav aria-label='pagination'>
    <ul class='pagination justify-content-center'>
      <%== pagy_bootstrap_nav(@pagy) %>
    </ul>
  </nav>
</div>
