<%= action_bar do %>
  <%= link_to_back :back %>
  <%= link_to_edit [:edit, @query_store] %>
<% end %>

<div class="card">
  <div class="card-body">
    <%= form_with url: [:preview, @query_store], remote: true do |form| %>
      <div class="form-group">
        <%= form.collection_select :user_id, User.all, :id, :email, {}, class: 'form-control' %>
      </div>
      <%= form.submit t('.preview'), class: 'btn btn-success btn-xs' %>
    <% end %>
  </div>
</div>

<div id="result"></div>


<div class="d-flex justify-content-center">
  <div id="spinner" class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<script>
  $('select#user_id').select2()

  // $('#spinner').hide()

  document.body.addEventListener('ajax:beforeSend', function(event) {
    $('#spinner').show()
  })

  document.body.addEventListener('ajax:error', function(event) {
    alert('error')
  })

 document.body.addEventListener('ajax:complete', function(event) {
   //$('#spinner').hide()
  })

</script>
