<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <center><strong><%= @committee.name %></strong></center>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            <%= fa_icon 'tasks', text: t('.agenda_card_header') %>
            <div class="card-header-actions">
              <%= link_to_new(new_committee_agenda_path(@committee.id)) %>
            </div>
          </div>
          <div class="card-body">
            <%= form_tag committee_path(@committee.id), method: :get do %>
              <div class="form-group">
                <%= text_field_tag 'term', params[:term], placeholder: t('.description'), class: 'form-control' %>
              </div>
              <%= submit_tag t('search'), class: 'btn btn-primary' %>
            <% end %>
            <hr \>
            <table class="table table-responsive-sm">
              <thead>
                <tr>
                  <th><%= t('.description') %></th>
                  <th><%= t('.agenda_type') %></th>
                  <th><%= t('.status') %></th>
                  <th><%= t('.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @agendas.each do |agenda| %>
                <tr>
                  <td><%= agenda.description %></td>
                  <td><%= agenda.agenda_type.try(:name) %></td>
                  <td><%= enum_t(agenda, :status) %></td>
                  <td>
                    <%= link_to_file(url_for(agenda.agenda_file)) if agenda.agenda_file.attached? %>
                    <%= link_to_edit(edit_committee_agenda_path(@committee.id, agenda.id)) %>
                    <%= link_to_destroy(committee_agenda_path(@committee.id, agenda.id)) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <nav aria-label='pagination'>
          <ul class='pagination justify-content-center'>
            <%== pagy_nav_bootstrap(@pagy) %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
