<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'calendar' %>
        <strong><%= form_title %></strong>
      </div>
      <div class="card-body">
        <%= simple_form_for(academic_term) do |f| %>
          <div class="row">
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :year, collection: selectible_year_range(1975) %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :term, collection: enum_options_for_select(f.object.class, :term) %>
            </div>
            <div class='form-group col-sm-4'>
              <%= f.input :start_of_term, start_year: 2005 %>
            </div>
            <div class='form-group col-sm-4'>
              <%= f.input :end_of_term, start_year: 2005 %>
            </div>
            <div class='form-group col-sm-4'>
              <%= f.input :active %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
