<div id="StatsForms" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="Stats">
      <h5 class="mb-0">
        <a class="collapsed"
          data-toggle="collapse"
          href="#collapseStats"
          id="collapseStatsLink"
          aria-expanded="false"
          aria-controls="Stats">
        <%= t('.card_header') %>
        </a>
        <div class="float-right">
          <%= link_to fa_icon('file-pdf-o'), meksis_buildings_path(format: :pdf), class: 'btn btn-outline-primary btn-sm' %>
        </div>
      </h5>
    </div>
    <div id="collapseStats"
         class="collapse"
         role="tabpanel"
         aria-labelledby="Stats"
         data-parent="#StatsForms">
      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('.indoor_area') %> (m<sup>2</sup>)</td>
              <td><%= number_to_human(@buildings.sum(:indoor_area)) %></td>
            </tr>
            <tr>
              <td><%= t('.number_of_buildings') %></td>
              <td><%= number_to_human(@buildings.count) %></td>
            </tr>
            <tr>
              <td><%= t('.number_of_active_buildings') %></td>
              <td><%= number_to_human(@buildings.actives.size) %></td>
            </tr>
            <tr>
              <td><%= t('.number_of_classrooms') %></td>
              <td><%= number_to_human(@classrooms.count) %></td>
            </tr>
            <tr>
              <td><%= t('.student_capacity') %></td>
              <td><%= number_to_human(@classrooms.sum(:student_capacity)) %></td>
            </tr>
            <tr>
              <td><%= t('.exam_capacity') %></td>
              <td><%= number_to_human(@classrooms.sum(:exam_capacity)) %></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-4">
            <p><center><%= t('.chart_of_classrooms') %></center></p>
            <%= pie_chart @buildings.joins(:place_type).reorder('place_types.name').group('place_types.name').count.to_a %>
          </div>
          <div class="col-sm-4">
            <p><center><%= t('.chart_of_place_numbers') %></center></p>
            <%= pie_chart @classrooms.joins(:place_type).reorder('place_types.name').group('place_types.name').count.to_a %>
          </div>
          <div class="col-sm-4">
            <p><center><%= t('.chart_of_available_spaces') %> (m<sup>2</sup>)</center></p>
            <%= pie_chart @classrooms.joins(:place_type).reorder('place_types.name').group('place_types.name').sum(:available_space) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
