<div class="col-md-6">
  <div class="card mx-4">
    <div class="card-body p-4">
      <h1><%= t('devise.common.register') %></h1>
      <p class="text-muted"><%= t('.create_your_account') %></p>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <%= fa_icon('user') %>
            </span>
          </div>
          <%= f.input :id_number, required: true, label: false, wrapper: false %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <%= fa_icon('at') %>
            </span>
          </div>
          <%= f.input :email, required: true, autofocus: true, label: false, wrapper: false %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <%= fa_icon('lock') %>
            </span>
          </div>
          <%= f.input :password, required: true, label: false, wrapper: false %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <%= fa_icon('lock') %>
            </span>
          </div>
          <%= f.input :password_confirmation, required: true, label: false, wrapper: false %>
        </div>

        <%= f.button :submit, t('devise.common.register'), class: 'btn btn-block btn-success' %>
      <% end %>
    </div>
    <div class="card-footer p-4">
      <div class="row">
        <div class="col-6">
          <%= link_to t('devise.common.login'), new_session_path(resource_name), class: 'btn btn-secondary btn-block', role: 'button' %>
        </div>
        <div class="col-6">
          <%= link_to t('.did_you_forget'), new_password_path(resource_name), class: 'btn btn-secondary btn-block', role: 'button' %>
        </div>
      </div>
    </div>
  </div>
</div>
