<div class='alert alert-light'>
  <%= link_to_back(:back) %>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'calendar' %><strong><%= @unit_instruction_type.name %></strong>
        <div class="card-header-actions">
          <%= link_to_edit(edit_unit_instruction_type_path(@unit_instruction_type)) %>
          <%= link_to_destroy(@unit_instruction_type) %>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('activerecord.attributes.unit_instruction_type.name') %></td>
              <td><%= @unit_instruction_type.name %></td>
            </tr>
            <tr>
              <td><%= t('activerecord.attributes.unit_instruction_type.code') %></td>
              <td><%= @unit_instruction_type.code %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
