<footer class="app-footer">
  <div class="mr-auto d-block">
    <% if locale.eql?(:tr) %>
      <%= link_to('EN', url_for(locale: 'en')) %>
    <% else %>
      <%= link_to('TR', url_for(locale: 'tr')) %>
    <% end %>
  </div>

  <div class="d-none d-sm-block">
    <%= link_to 'https://github.com/omu/nokul' do %>
      Nokul <%= Nokul::VERSION %>
    <% end %>
    <span>© 2018 BAUM</span>
  </div>

  <% if Tenant.configuration.branding.badge.visible %>
    <div class="ml-auto d-none d-md-block">
      <%= link_to 'https://omu.sh' do %>
        <%= image_tag Tenant.configuration.branding.badge.file,
                      height: '20',
                      width: '110',
                      alt: Tenant.configuration.branding.badge.alt_text %>
      <% end %>
    </div>
  <% end %>
</footer>
