<footer class="app-footer">
  <span>
    <%= link_to(url_for(locale: 'tr'), class: 'btn btn-light') do %>
      <%= image_tag 'tr.svg', height: '21', width: '28' %>&nbsp;Türkçe
    <% end %>
    <%= link_to(url_for(locale: 'en'), class: 'btn btn-light') do %>
      <%= image_tag 'um.svg', height: '21', width: '28' %></i>&nbsp;English
    <% end %>
  </span>
  <div class="ml-auto">
    <span>
      <%= link_to 'https://omu.sh' do %>
        <%= image_tag 'baum-beta.svg', height: '20', width: '110', alt: 'BAUM Logo', class: 'navbar-brand-full' %>
      <% end %>
    </span>
  </div>
</footer>
