<header class="c-header c-header-light c-header-fixed">
  <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
    <span class="c-header-toggler-icon"></span>
  </button>
  <a class="c-header-brand d-lg-none c-header-brand-sm-up-center" href="#">
    <span class="c-header-toggler-icon"></span>
  </a>
  <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
    <span class="c-header-toggler-icon"></span>
  </button>

  <ul class='c-header-nav ml-auto'>
    <li class='c-header-nav-item dropdown d-md-down-none mx-2'>
      <a class='c-header-nav-link' data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
        <%= fa_icon 'user 2x' %>
      </a>
      <div class='dropdown-menu dropdown-menu-right pt-0'>
        <%= link_to :profile, class: 'dropdown-item' do %>
          <%= fa_icon('user', text: t('.profile_settings'), class: 'mfe-2') %>
        <% end %>
        <%= link_to :settings, class: 'dropdown-item' do %>
          <%= fa_icon('shield', text: t('.account_settings'), class: 'mfe-2') %>
        <% end %>
        <% if ENV.fetch('NOKUL_SSO_ENABLE', false) %>
          <%= link_to "#{Tenant.credentials.lemonldap[:issuer]}/oauth2/logout", class: 'dropdown-item' do %>
            <%= fa_icon('lock', text: t('.logout'), class: 'mfe-2') %>
          <% end %>
        <% else %>
          <%= link_to :logout, class: 'dropdown-item', method: :delete do %>
            <%= fa_icon('lock', text: t('.logout'), class: 'mfe-2') %>
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
 <button class="c-header-toggler c-class-toggler mfe-md-3" type="button" data-target="#aside" data-class="c-sidebar-show">
    <span class="c-header-toggler-icon"></span>
  </button>
</header>
