<header class='app-header navbar'>
  <button class='navbar-toggler sidebar-toggler d-lg-none mr-auto' type='button' data-toggle='sidebar-show'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <%= link_to :root, class: 'navbar-brand' do %>
    <%= image_tag Tenant.configuration.branding.logo.file,
                  height: '36',
                  width: '134',
                  alt: Tenant.configuration.branding.logo.alt_text,
                  class: 'navbar-brand-full' %>
  <% end %>
  <button class='navbar-toggler sidebar-toggler d-none d-md-block d-lg-none' type='button' data-toggle='sidebar-lg-show'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <ul class='nav navbar-nav ml-auto'>
    <li class='nav-item dropdown'>
      <a class='nav-link' data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
        <%= fa_icon 'user 2x' %>
      </a>
      <div class='dropdown-menu dropdown-menu-right'>
        <%= link_to :profile, class: 'dropdown-item' do %>
          <%= fa_icon('user', text: t('.profile_settings')) %>
        <% end %>
        <%= link_to :settings, class: 'dropdown-item' do %>
          <%= fa_icon('shield', text: t('.account_settings')) %>
        <% end %>
        <%= link_to :logout, class: 'dropdown-item', method: :delete do %>
          <%= fa_icon('lock', text: t('.logout')) %>
        <% end %>
      </div>
    </li>
  </ul>
  <button class='navbar-toggler aside-menu-toggler d-md-down-none' type='button' data-toggle='aside-menu-lg-show'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <button class='navbar-toggler aside-menu-toggler d-lg-none' type='button' data-toggle='aside-menu-show'>
    <span class='navbar-toggler-icon'></span>
  </button>
</header>
