<title><%= t('.title') %></title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#8e2731">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="<%= t('.author') %>">
<meta name="description" content="<%= t('.description') %>">

<!-- Add iOS meta tags and icons -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#8e2731">
<meta name="apple-mobile-web-app-title" content="NOKUL">
<link rel="apple-touch-icon" href="<%= asset_path('logo/baum-logo-ipad.png') %>">
