<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link' do %>
          <%= fa_icon('home', class: 'nav-icon') %> <%= t('home_nav') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to units_path, class: 'nav-link' do %>
          <%= fa_icon('sitemap', text: t('.units'), class: 'nav-icon') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to countries_path, class: 'nav-link' do %>
          <%= fa_icon('street-view', text: t('.locations'), class: 'nav-icon') %>
        <% end %>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('calendar', class: 'nav-icon') %><%= t('.calendars') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to calendar_titles_path, class: 'nav-link' do %>
              <%= fa_icon('calendar-plus-o', text: t('.calendar_titles'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to calendar_types_path, class: 'nav-link' do %>
              <%= fa_icon('calendar-check-o', text: t('.calendar_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to academic_terms_path, class: 'nav-link' do %>
              <%= fa_icon('graduation-cap', text: t('.academic_terms'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to academic_calendars_path, class: 'nav-link' do %>
              <%= fa_icon('calendar', text: t('.academic_calendars'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('list', class: 'nav-icon') %><%= t('.course_management') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to courses_path, class: 'nav-link' do %>
              <%= fa_icon('book', text: t('.courses'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to course_unit_groups_path, class: 'nav-link' do %>
              <%= fa_icon('cubes', text: t('.course_unit_groups'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to course_group_types_path, class: 'nav-link' do %>
              <%= fa_icon('clone', text: t('.course_group_types'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <%= link_to users_path, class: 'nav-link' do %>
          <%= fa_icon('user', text: t('.users'), class: 'nav-icon') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to languages_path, class: 'nav-link' do %>
          <%= fa_icon('language', text: t('.languages'), class: 'nav-icon') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to documents_path, class: 'nav-link' do %>
          <%= fa_icon('file-text-o', text: t('.documents'), class: 'nav-icon') %>
        <% end %>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('university', class: 'nav-icon') %><%= t('.references') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to student_disability_types_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.student_disability_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to student_drop_out_types_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.student_drop_out_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to student_education_levels_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.student_education_levels'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to student_entrance_point_types_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.student_entrance_point_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to student_entrance_types_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.student_entrance_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to student_grades_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.student_grades'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to student_grading_systems_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.student_grading_systems'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to student_punishment_types_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.student_punishment_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to student_studentship_statuses_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.student_studentship_statuses'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to unit_instruction_languages_path, class: 'nav-link' do %>
              <%= fa_icon('language', text: t('.unit_instruction_languages'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to unit_instruction_types_path, class: 'nav-link' do %>
              <%= fa_icon('graduation-cap', text: t('.unit_instruction_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to unit_statuses_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.unit_statuses'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to unit_types_path, class: 'nav-link' do %>
              <%= fa_icon('sitemap', text: t('.unit_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to university_types_path, class: 'nav-link' do %>
              <%= fa_icon('university', text: t('.university_types'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <%= link_to studies_path, class: 'nav-link' do %>
          <%= fa_icon('file-text-o', text: t('.studies'), class: 'nav-icon') %>
        <% end %>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('tasks', class: 'nav-icon') %><%= t('.committees') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to agenda_types_path, class: 'nav-link' do %>
              <%= fa_icon('tags', text: t('.agenda_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to committees_path, class: 'nav-link' do %>
              <%= fa_icon('cubes', text: t('.committee_units'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
