<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <% if current_user.accounts.present? %>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
            <%= fa_icon('users', text: t('.accounts'), class: 'nav-icon') %>
          </a>

            <ul class="nav-dropdown-items">
              <% current_user.accounts.each do |account| %>
                <li class="nav-item" style="<%= 'background: cadetblue;' if account.active_for?(current_account) %>">
                  <%= link_to switch_account_path(account.identifier), class: 'nav-link' do %>
                    <%= account.label %>
                  <% end %>
                </li>
              <% end %>
            </ul>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to :root, class: 'nav-link' do %>
          <%= fa_icon('home', class: 'nav-icon') %> <%= t('home_nav') %>
        <% end %>
      </li>

      <%= render "layouts/shared/menus/#{current_account.type}" if current_user.accounts.present? %>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
