<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to :root, class: 'nav-link' do %>
          <%= fa_icon('home', class: 'nav-icon') %> <%= t('home_nav') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to :studies, class: 'nav-link' do %>
          <%= fa_icon('book', text: t('.studies'), class: 'nav-icon') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to :units, class: 'nav-link' do %>
          <%= fa_icon('sitemap', text: t('.units'), class: 'nav-icon') %>
        <% end %>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('list', class: 'nav-icon') %><%= t('.course_management') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to :curriculums, class: 'nav-link' do %>
              <%= fa_icon('book', text: t('.curriculums'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :courses, class: 'nav-link' do %>
              <%= fa_icon('book', text: t('.courses'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :course_groups, class: 'nav-link' do %>
              <%= fa_icon('cubes', text: t('.course_groups'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :available_courses, class: 'nav-link' do %>
              <%= fa_icon('book', text: t('.available_courses'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('graduation-cap', class: 'nav-icon') %><%= t('.studentship') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to :course_enrolments, class: 'nav-link' do %>
              <%= fa_icon('book', text: t('.course_enrolments'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('user-plus', class: 'nav-icon') %><%= t('.first_registration') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to :prospective_students, class: 'nav-link' do %>
              <%= fa_icon('users', text: t('.prospective_students'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :prospective_employees, class: 'nav-link' do %>
              <%= fa_icon('users', text: t('.prospective_employees'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :registration_documents, class: 'nav-link' do %>
              <%= fa_icon('file-text', text: t('.registration_documents'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('tasks', class: 'nav-icon') %><%= t('.committees') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to :agenda_types, class: 'nav-link' do %>
              <%= fa_icon('tags', text: t('.agenda_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :committees, class: 'nav-link' do %>
              <%= fa_icon('cubes', text: t('.committee_units'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('calendar', class: 'nav-icon') %><%= t('.calendar_management') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to :calendar_event_types, class: 'nav-link' do %>
              <%= fa_icon('calendar-plus-o', text: t('.calendar_event_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :calendars, class: 'nav-link' do %>
              <%= fa_icon('calendar-check-o', text: t('.academic_calendars'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <%= link_to :users, class: 'nav-link' do %>
          <%= fa_icon('user', text: t('.users'), class: 'nav-icon') %>
        <% end %>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('superpowers', class: 'nav-icon') %><%= t('.administration') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to :patron, class: 'nav-link' do %>
              <%= fa_icon('cogs', text: t('.authorizations'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :reference, class: 'nav-link' do %>
              <%= fa_icon('th-list', text: t('.references'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :yoksis, class: 'nav-link' do %>
              <%= fa_icon('th', text: t('.yoksis'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :meksis, class: 'nav-link' do %>
              <%= fa_icon('th', text: t('.meksis'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to :ldap_entities, class: 'nav-link' do %>
              <%= fa_icon('database', text: t('.ldap_sync'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
