<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link' do %>
          <%= fa_icon('home', class: 'nav-icon') %> <%= t('home_nav') %>
        <% end %>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('list', class: 'nav-icon') %><%= t('.course_management') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to curriculums_path, class: 'nav-link' do %>
              <%= fa_icon('book', text: t('.curriculums'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to courses_path, class: 'nav-link' do %>
              <%= fa_icon('book', text: t('.courses'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to course_groups_path, class: 'nav-link' do %>
              <%= fa_icon('cubes', text: t('.course_groups'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to available_courses_path, class: 'nav-link' do %>
              <%= fa_icon('book', text: t('.available_courses'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('graduation-cap', class: 'nav-icon') %><%= t('.student_management') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to prospective_students_path, class: 'nav-link' do %>
              <%= fa_icon('user-plus', text: t('.first_registration'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to documents_path, class: 'nav-link' do %>
              <%= fa_icon('file-text-o', text: t('.documents'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('tasks', class: 'nav-icon') %><%= t('.committees') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to agenda_types_path, class: 'nav-link' do %>
              <%= fa_icon('tags', text: t('.agenda_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to committees_path, class: 'nav-link' do %>
              <%= fa_icon('cubes', text: t('.committee_units'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('calendar', class: 'nav-icon') %><%= t('.calendars') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to calendar_titles_path, class: 'nav-link' do %>
              <%= fa_icon('calendar-plus-o', text: t('.calendar_titles'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to calendar_types_path, class: 'nav-link' do %>
              <%= fa_icon('calendar-check-o', text: t('.calendar_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to academic_terms_path, class: 'nav-link' do %>
              <%= fa_icon('graduation-cap', text: t('.academic_terms'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to academic_calendars_path, class: 'nav-link' do %>
              <%= fa_icon('calendar', text: t('.academic_calendars'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <%= link_to users_path, class: 'nav-link' do %>
          <%= fa_icon('user', text: t('.users'), class: 'nav-icon') %>
        <% end %>
      </li>

      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('superpowers', class: 'nav-icon') %><%= t('.admin') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to admin_languages_path, class: 'nav-link' do %>
              <%= fa_icon('language', text: t('.languages'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_countries_path, class: 'nav-link' do %>
              <%= fa_icon('globe', text: t('.locations'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_titles_path, class: 'nav-link' do %>
              <%= fa_icon('group', text: t('.titles'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_yoksis_path, class: 'nav-link' do %>
              <%= fa_icon('th', text: t('.yoksis'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <%= fa_icon('calendar', class: 'nav-icon') %><%= t('.definitions') %>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to units_path, class: 'nav-link' do %>
              <%= fa_icon('sitemap', text: t('.units'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to course_group_types_path, class: 'nav-link' do %>
              <%= fa_icon('clone', text: t('.course_group_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to course_types_path, class: 'nav-link' do %>
              <%= fa_icon('pencil', text: t('.course_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to course_criterion_types_path, class: 'nav-link' do %>
              <%= fa_icon('pencil', text: t('.course_criterion_types'), class: 'nav-icon') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to studies_path, class: 'nav-link' do %>
              <%= fa_icon('book', text: t('.studies'), class: 'nav-icon') %>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
