<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  <div class="c-sidebar-brand d-md-down-none">
    <%= image_tag Nokul::Tenant.configuration.branding.logo.file,
                  height: '46',
                  width:  '118',
                  alt:    Nokul::Tenant.configuration.branding.logo.alt_text,
                  class:  'c-sidebar-brand-full' %>
  </div>
  <ul class="c-sidebar-nav ps ps--active-y">
    <% if current_user.accounts.present? %>
      <li class="c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-dropdown-toggle" href="#">
          <%= fa_icon('users', text: t('.accounts'), class: 'c-sidebar-nav-icon') %>
        </a>

        <ul class="c-sidebar-nav-dropdown-items">
          <% current_user.accounts.each do |account| %>
            <li class="c-sidebar-nav-item" style="<%= 'background: cadetblue;' if account.active_for?(current_account) %>">
              <%= link_to switch_account_path(account.identifier), class: 'c-sidebar-nav-link pl-1' do %>
                <%= account.label %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <li class="c-sidebar-nav-item">
      <%= link_to :root, class: 'c-sidebar-nav-link' do %>
        <%= fa_icon('home', class: 'c-sidebar-nav-icon') %> <%= t('home_nav') %>
      <% end %>
    </li>
    <%= render "layouts/shared/menus/#{current_account.type}" if current_user.accounts.present? %>
  </ul>
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>
