<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'cube' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for([@available_course, @available_course_group]) do |f| %>
          <div class='row'>
            <div class='col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='col-sm-12'>
              <%= f.input :name, required: true %>
            </div>
            <div class='col-sm-12'>
              <%= f.input :quota, required: true %>
            </div>
          </div>

          <h3 class="text-center"><%= t('.lecturers') %></h3>
          <%= f.simple_fields_for :lecturers do |lecturer| %>
            <%= render 'lecturer_fields', f: lecturer %>
          <% end %>
          <div class='links text-center'>
            <%= link_to_add_association f, :lecturers, class: 'btn btn-success btn-sm' %>
          </div>

          <div class='col-sm-12'>
            <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
            <%= link_to_back(:back) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'shared/cocoon' %>
