<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <%= link_to_new(t('.new_address'), new_user_address_path(@user)) if @user.addresses.informal.blank? %>
        <%= link_to (@user.addresses.formal.present? ? t('.update_from_mernis') : t('.create_from_mernis')), save_address_from_mernis_user_path(@user), class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>
  </div>
  <% @addresses.each do |address| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <% if address.formal? %>
            <strong><%= t('.formal_address') %></strong>
          <% else %>
            <strong><%= t('.informal_address') %></strong>
            <div class="card-header-actions">
              <%= link_to_actions([@user, address], except: :show) %>
            </div>
          <% end %>
        </div>

        <div class="card-body">
          <table class='table table-responsive-sm'>
            <tr>
              <td><%= t('.type') %></td>
              <td>
                <span class="badge badge-secondary">
                  <%= fa_icon (address.formal? ? 'gavel' : 'address-book'), text: enum_t(address, :type) %>
                </span>
              </td>
            </tr>
            <tr>
              <td><%= t('.full_address') %></td>
              <td><%= address.full_address %></td>
            </tr>
            <tr>
              <td><%= t('.district_and_city') %></td>
              <td><%= address.district.name %> / <%= address.district.city.name %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
