<div class="alert alert-light">
  <%= link_to_new(new_address_path, t('.new_address')) %>
  <%= link_to_new(new_address_path, t('.get_from_mernis')) unless @addresses.present? %>
</div>

<div class="row">
  <% @addresses.each do |address| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <%= fa_icon 'id-card' %>
          <strong><%= t('.card_header') %></strong>
        </div>
        <div class="card-body">
          <table class='table table-responsive-sm'>
            <tr>
              <td><%= t('.name') %></td>
              <td>
                <span class="badge badge-secondary">
                  <%= fa_icon('gavel', text: t('activerecord.enums.address.names.formal')) if address.formal? %>
                  <%= fa_icon('home', text: t('activerecord.enums.address.names.home')) if address.home? %>
                  <%= fa_icon('building', text: t('activerecord.enums.address.names.work')) if address.work? %>
                  <%= fa_icon('address-book', text: t('activerecord.enums.address.names.other')) if address.other? %>
                </span>
              </td>
            </tr>
            <tr>
              <td><%= t('.phone_number') %></td>
              <td><%= address.phone_number %></td>
            </tr>
            <tr>
              <td><%= t('.full_address') %></td>
              <td><%= address.full_address %></td>
            </tr>
            <tr>
              <td><%= t('.district_and_city') %></td>
              <td><%= address.district.name %> / <%= address.district.city.name %></td>
            </tr>
            <tr>
              <td colspan="2">
                <% if address.formal? %>
                  <%= link_to(t('.update_from_mernis'), mernis_address_path(address), class: 'btn btn-outline-primary btn-sm') %>
                <% else %>
                  <%= link_to_edit(edit_address_path(address)) %>
                  <%= link_to_destroy(address) %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
