<div class="alert alert-light">
  <%= link_to_back user_path(@user) %>
  <%= link_to_new(t('.new_address'), new_user_address_path(@user)) unless @user.addresses.informal.present? %>
  <%= link_to (@addresses.formal.present? ? t('.update_from_mernis') :  t('.create_from_mernis') ), save_from_mernis_user_addresses_path, class: "btn btn-outline-primary btn-sm"  %>
</div>

<div class="row">
  <% @addresses.each do |address| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <% if address.formal? %>
            <strong><%= t('.formal_address') %></strong>
          <% else %>
            <strong><%= t('.informal_address') %></strong>
            <div class="card-header-actions">
              <%= link_to_edit(edit_user_address_path(@user, address)) %>
              <%= link_to_destroy(user_address_path(@user, address)) %>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <table class='table table-responsive-sm'>
            <tr>
              <td><%= t('.type') %></td>
              <td>
                <span class="badge badge-secondary">
                  <%= fa_icon('gavel', text: t('activerecord.enums.address.types.formal')) if address.formal? %>
                  <%= fa_icon('home', text: t('activerecord.enums.address.types.informal')) if address.informal? %>
                </span>
              </td>
            </tr>
            <tr>
              <td><%= t('.phone_number') %></td>
              <td><%= address.phone_number %></td>
            </tr>
            <tr>
              <td><%= t('.full_address') %></td>
              <td><%= address.full_address %></td>
            </tr>
            <tr>
              <td><%= t('.district_and_city') %></td>
              <td><%= address.district.name %> / <%= address.district.city.name %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
