<div id="chart-for-maps"></div>

<script type="text/javascript" async>
  Highcharts.mapChart('chart-for-maps', {
    chart: {
      map: 'countries/tr/tr-all',
      height: 600
    },
    title: {
      text: "<%= t('.title') %>"
    },
    mapNavigation: {
      enabled: true,
      buttonOptions: {
          verticalAlign: 'bottom'
      }
    },
    colorAxis: {
        min: 0
    },
    series: [{
      data: <%= sanitize(@series) %>,
      joinBy: 'name',
      states: {
        hover: {
          color: '#BADA55'
        }
      },
      dataLabels: {
        enabled: true,
        format: '{point.name}'
      },
      tooltip: {
        headerFormat: '',
        pointFormat: `
          <strong>{point.name}</strong>
          <br/>
          <hr/>
          <span style="color: #96d1c7; font-weight: bold;"><%= t('.male') %>: {point.male}<span/><br/>
          <span style="color: #fc7978; font-weight: bold;"><%= t('.female') %>: {point.female}</span><br/>
          <span style="color: #626262; font-weight: bold;"><%= t('.total') %>: {point.value}</span><br/>
        `,
      }
    }]
  });

  $('.highcharts-credits').html('')
</script>
