<div class='mb-2 text-right'>
  <%= link_to_fetch yoksis_services_fetch_path(service: 'academic_credentials') %>
</div>
<h3 class="font-weight-light text-center text-muted"><%= t('.professional_experiences') %> - <%= t('.academic') %></h3>
<hr>
<div class="container py-2 timeline">
  <% academic_credentials.each_with_index do |credential, index| %>
    <div class="row">
      <div class="col-md-none"></div>
      <div class="col-auto text-center flex-column d-none d-lg-flex">
        <div class="row h-50">
          <div class="<%= index.zero? ? 'col' : 'col border-right' %>">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="<%= index.zero? ? 'bg-success ' : 'bg-light ' %>badge badge-pill border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card <%= index.zero? ? 'border-success shadow' : ' ' %>">
          <div class="card-body">
            <div class="float-right text-muted"><%= "#{credential.start_year} - #{credential.end_year}" %></div>
            <h6 class="card-title text-success"><%= "#{credential.title}:" %></h6>
            <p class="card-text"><%= credential.university %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
