<h3 class="font-weight-light text-center text-muted"><%= t('.duties') %></h3>
<hr>
<div class="container py-2 timeline">
  <% user.duties.includes(:unit).order(start_date: :desc).each_with_index do |duty, index| %>
    <div class="row">
      <div class="col-sm-none"></div>
      <div class="col-auto text-center flex-column d-none d-lg-flex">
        <div class="row h-50">
          <div class="<%= index.zero? ? 'col' : 'col border-right' %>">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="<%= index.zero? ? 'bg-success ' : 'bg-light ' %>badge badge-pill border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card <%= index.zero? ? 'border-success shadow' : ' ' %>">
          <div class="card-body">
            <div class="float-right text-muted">
              <%= "#{duty.start_date.strftime('%m.%Y')} - #{duty.end_date.try(:strftime, '%m.%Y')}" %>
            </div>
            <h6 class="card-title text-success"><%= enum_t(duty, :article).to_s %></h6>
            <p class="card-text"><%= link_to duty.unit.names_depth_cache, unit_path(duty.unit) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
