<div class='row'>
  <div class='col-sm-12'>
    <%= simple_form_for current_user, url: profile_path, method: :post do |f| %>
      <div class='card'>
        <div class='card-header'>
          <%= t('.profile_settings') %>
        </div>
        <div class='card-body'>
          <div class='row'>
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            </div>

            <div class='col-sm-12'>
              <% if current_user.avatar.attached? && current_user.avatar.variable? %>
                <%= image_tag current_user.avatar.variant(resize: '150x150') %>
              <% else %>
                <%= image_tag 'profile/avatar_placeholder.svg', width: '150px' %>
              <% end %>
              <p><%= f.input :avatar, label: false, as: :file %></p>
              <hr \>
            </div>

            <div class='form-group col-sm-8'>
              <label for="name"><%= t('.phone_number') %></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><%= fa_icon('phone') %></span>
                </div>
                <%= f.input :phone_number, wrapper: false, label: false %>
              </div>
            </div>

            <div class='form-group col-sm-4'>
              <label for="name"><%= t('.extension_number') %></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><%= fa_icon('phone-square') %></span>
                </div>
                <%= f.input :extension_number, wrapper: false, label: false %>
              </div>
            </div>

            <div class='form-group col-sm-12'>
              <label for="name"><%= t('.website') %></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><%= fa_icon('globe') %></span>
                </div>
                <%= f.input :website, wrapper: false, label: false %>
              </div>
            </div>

            <div class='form-group col-sm-12'>
              <label for="name"><%= t('.twitter') %></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><%= fa_icon('twitter') %></span>
                </div>
                <%= f.input :twitter, wrapper: false, label: false %>
              </div>
            </div>

            <div class='form-group col-sm-12'>
              <label for="name"><%= t('.linkedin') %></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><%= fa_icon('linkedin') %></span>
                </div>
                <%= f.input :linkedin, wrapper: false, label: false %>
              </div>
            </div>

            <div class='form-group col-sm-12'>
              <label for="name"><%= t('.skype') %></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><%= fa_icon('skype') %></span>
                </div>
                <%= f.input :skype, wrapper: false, label: false %>
              </div>
            </div>

            <div class='form-group col-sm-12'>
              <label for="name"><%= t('.orcid') %></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><%= fa_icon('graduation-cap') %></span>
                </div>
                <%= f.input :orcid, wrapper: false, label: false %>
              </div>
            </div>

            <% unless current_user.employees.active.any? %>
              <div class='form-group col-sm-12'>
                <hr \>
                <%= f.button :submit, t('save'), class: 'btn btn-outline-success btn-sm' %>
                <%= link_to_back(:back) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_user.employees.active.any? %>
        <div class="card">
          <div class="card-header">
            <%= t('.visiblity_settings') %>
          </div>
          <div class="card-body">
            <div class='form-group col-sm-6'>
              <%= f.input :public_photo, label: t('.public_photo'), as: :boolean %>
            </div>

            <div class='form-group col-sm-6'>
              <%= f.input :public_studies, label: t('.public_studies'), as: :boolean, class: 'form-check-input' %>
            </div>
            <hr \>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, t('save'), class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'input_mask' %>
