<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body header">
        <div class="row">
          <div class="col-md-2 text-center align-items-center justify-content-center">
            <% if current_user.avatar.attached? && current_user.avatar.variable? %>
              <%= image_tag current_user.avatar.variant(resize_to_limit: [150, 150]),
                            class: 'rounded-circle img-fluid shadow',
                            alt:   t('.avatar'),
                            style: 'width: 150px;height: 150px;' %>
            <% else %>
              <%= image_tag current_user.identities.last.male? ? 'profile/male_avatar.svg' : 'profile/female_avatar.svg', alt: t('.avatar') %>
            <% end %>
          </div>
          <div class="col-md-10" style="margin-top: auto; margin-bottom: auto;">
            <h3><%= "#{full_name(current_user.identities.last)} " %></h3>
            <h6><em><%= current_user.title.to_s %></em></h6>
            <hr class='bg-white'>
            <div class="row">
              <div class="col-md-3">
                <%= contact_links(current_user) %>
              </div>
              <div class="col-md-3">
                <%= social_media_links(current_user) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-eq-height">
  <div class="col-lg">
    <div class="card">
      <div class="card-body">
        <%= render 'education_informations', education_informations: @education_informations %>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card">
      <div class="card-body">
        <%= render 'academic_credentials', academic_credentials: @academic_credentials %>
      </div>
    </div>
  </div>
  <div class="col-xl <%= current_user.duties.blank? ? 'd-none' : '' %>">
    <div class="card">
      <div class="card-body">
        <%= render 'duties' %>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='card'>
      <div class='card-body'>
        <h3 class="font-weight-light text-muted"><%= t('.academic_activities') %></h3>
        <br>
        <nav class="scrollable">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-articles-tab" data-toggle="tab" href="#articles" role="tab" aria-controls="nav-home" aria-selected="true"><%= t('account.profile.partials.articles.articles') %></a>
            <a class="nav-item nav-link" id="nav-papers-tab" data-toggle="tab" href="#papers" role="tab" aria-controls="nav-profile" aria-selected="false"><%= t('account.profile.partials.papers.papers') %></a>
            <a class="nav-item nav-link" id="nav-projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="nav-profile" aria-selected="false"><%= t('account.profile.partials.projects.projects') %></a>
            <a class="nav-item nav-link" id="nav-books-tab" data-toggle="tab" href="#books" role="tab" aria-controls="nav-contact" aria-selected="false"><%= t('account.profile.partials.books.books') %></a>
            <a class="nav-item nav-link" id="nav-certifications-tab" data-toggle="tab" href="#certifications" role="tab" aria-controls="nav-certifications" aria-selected="true"><%= t('account.profile.partials.certifications.certifications') %></a>
          </div>
        </nav>
        <div class="tab-content pt-2" id="nav-tabContent">
          <div class="tab-pane fade show active" id="articles" role="tabpanel" aria-labelledby="nav-articles-tab">
            <p class="text-center h4 text-muted"><%= t('loading') %></p>
          </div>
          <div class="tab-pane fade" id="papers" role="tabpanel" aria-labelledby="nav-papers-tab">
            <p class="text-center h4 text-muted"><%= t('loading') %></p>
          </div>
          <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="nav-projects-tab">
            <p class="text-center h4 text-muted"><%= t('loading') %></p>
          </div>
          <div class="tab-pane fade" id="books" role="tabpanel" aria-labelledby="nav-books-tab">
            <p class="text-center h4 text-muted"><%= t('loading') %></p>
          </div>
          <div class="tab-pane fade" id="certifications" role="tabpanel" aria-labelledby="nav-certifications-tab">
            <p class="text-center h4 text-muted"><%= t('loading') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $.get("<%= profile_articles_path %>")
    $.get("<%= profile_papers_path %>")
    $.get("<%= profile_books_path %>")
    $.get("<%= profile_certifications_path %>")
    $.get("<%= profile_projects_path %>")
  })
</script>
<style>
  .header {
    background-color: #4BB28A;
    color: #EFEFEF;
  }
  .timeline >.row:last-child .row:last-child, .timeline >.row:first-child .row:first-child {
    visibility: hidden;
  }
  .timeline .card {
    margin-bottom: 0;
  }
  .row-eq-height > [class*='col-'] > .card {
    height: calc(100% - 24px) !important;
  }
  .header-icon {
    padding-right: 0.5em;
    color: #EFEFEF;
  }
  a:hover {
    text-decoration: none;
  }
  .scrollable .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    border: 0px !important;
  }
  .pagy-bootstrap-nav {
    overflow-x: auto;
  }
</style>
