<div class='row'>
  <div class='col-sm-12'>
    <%= simple_form_for current_user, url: profile_path, method: :patch do |f| %>
      <div class='card'>
        <div class='card-header'>
          <%= t('.visibility_settings') %>
        </div>
        <div class='card-body'>
          <div class='form-group col-sm-6'>
            <%= f.input :public_photo, as: :boolean %>
          </div>

          <div class='form-group col-sm-6'>
            <%= f.input :public_studies, as: :boolean, class: 'form-check-input' %>
          </div>
          <hr />
          <div class='form-group col-sm-12'>
            <%= f.button :submit, t('save'), class: 'btn btn-outline-success btn-sm' %>
            <%= link_to_back(:back) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
