<div class="card-group mb-4">
  <div class="card">
    <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
        <%= fa_icon('user-plus') %>
      </div>
      <div class="text-value"><%= profile_completion_rate(current_user) %>%</div>
      <small class="text-muted text-uppercase font-weight-bold"><%= t('.profile_completion_rate') %></small>
      <div class="progress progress-xs mt-3 mb-0">
        <div class="progress-bar bg-success" role="progressbar" style="width: <%= profile_completion_rate(current_user) %>%" aria-valuenow="<%= profile_completion_rate(current_user) %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <hr>
      <% unless current_user.addresses.any? %>
        <div class="alert alert-warning" role="alert">
          <small class="text-muted"><%= link_to t('.address_information'), user_addresses_path(current_user) %> <%= t('.seems_missing') %></small>
        </div>
      <% end %>
      <% unless current_user.identities.any? %>
        <div class="alert alert-warning" role="alert">
          <small class="text-muted"><%= link_to t('.identity_information'), user_identities_path(current_user) %> <%= t('.seems_missing') %></small>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
        <%= fa_icon('clock-o') %>
      </div>
      <div class="text-value"><%= distance_of_time_in_words(Time.zone.now, current_user.password_changed_at) %> </div>
      <small class="text-muted text-uppercase font-weight-bold"><%= t('.last_password_change') %></small>
      <div class="progress progress-xs mt-3 mb-0">
        <div class="progress-bar bg-danger" role="progressbar" style="width: <%= password_change_progress_bar(current_user) %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <% if last_password_change(current_user) > 1 %>
        <hr \>
        <div class="alert alert-danger" role="alert">
          <small class="text-muted"><%= link_to t('.change_password'), edit_user_registration_path %></small>
        </div>
      <% end %>
    </div>
  </div>
</div>
