<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <%= link_to_new(t('.new_identity'), new_user_identity_path(@user)) if @user.identities.formal.none? %>
        <%= link_to (@identities.formal.present? ? t('.update_from_mernis') : t('.create_from_mernis')), save_from_mernis_user_identities_path(@user), class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>
  </div>

  <% @identities.each do |identity| %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header bg-<%= identity.active? ? 'success' : 'danger' %>">
          <%= fa_icon 'id-card', text: t('.user_identity') %>
        </div>

        <div class="card-body">
          <table class='table table-responsive-sm'>
            <tr>
              <th><%= t('.type') %></th>
              <td>
                <span class="badge badge-secondary">
                  <%= fa_icon (identity.formal? ? 'gavel' : 'user'), text: enum_t(identity, :type) %>
                </span>
              </td>
            </tr>
            <tr>
              <th><%= t('.last_name') %></th>
              <td><%= identity.last_name %></td>
            </tr>
            <tr>
              <th><%= t('.first_name') %></th>
              <td><%= identity.first_name %></td>
            </tr>
            <tr>
              <th><%= t('.mothers_name') %></th>
              <td><%= identity.mothers_name %></td>
            </tr>
            <tr>
              <th><%= t('.fathers_name') %></th>
              <td><%= identity.fathers_name %></td>
            </tr>
            <tr>
              <th><%= t('.gender') %></th>
              <td><%= enum_t(identity, :gender) %></td>
            </tr>
            <tr>
              <th><%= t('.marital_status') %></th>
              <td><%= enum_t(identity, :marital_status) %></td>
            </tr>
            <tr>
              <th><%= t('.place_of_birth') %></th>
              <td><%= identity.place_of_birth %></td>
            </tr>
            <tr>
              <th><%= t('.date_of_birth') %></th>
              <td><%= identity.date_of_birth %></td>
            </tr>
            <tr>
              <th><%= t('.registered_to') %></th>
              <td><%= identity.registered_to %></td>
            </tr>
            <tr>
              <th><%= t('.active') %></th>
              <td><%= icon_for_check(identity.active) %></td>
            </tr>
          </table>
        </div>

        <div class="card-footer">
          <div class="d-flex">
            <div class="align-content-stretch">
              <p class="text-muted">
                <strong><%= t('last_updated') %>:</strong> <%= l identity.updated_at, format: :long %> (<%= distance_of_time_in_words_to_now identity.updated_at %>)
              </p>
            </div>
            <div class="ml-auto">
              <% if identity.informal? && identity.active? %>
                <div class="text-right"><%= link_to_actions([@user, identity], except: :show) %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
