<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'calendar' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for([@unit, registration_document]) do |f| %>
          <div class='row'>
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.input :academic_term_id, collection: AcademicTerm.all, label_method: lambda { |academic_term| academic_term_full_name(academic_term) }, required: true %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.input :document_id, collection: Document.all, label_method: :name, required: true %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
