<div class='alert alert-light'>
  <%= link_to_new(new_unit_registration_document_path(@unit), t('.new_registration_document_link')) %>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'align-justify', text: t('.card_header', unit: @unit.name) %>
      </div>
      <div class='card-body'>
        <table class='table table-responsive-sm table-sm'>
          <thead>
            <tr>
              <th><%= t('.academic_term') %></th>
              <th><%= t('.document') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @registration_documents.each do |registration_document| %>
              <tr>
                <td><%= academic_term_full_name(registration_document.academic_term) %></td>
                <td><%= registration_document.document.name %></td>
                <td>
                  <%= link_to_show(unit_registration_document_path(@unit, registration_document)) %>
                  <%= link_to_edit(edit_unit_registration_document_path(@unit, registration_document)) %>
                  <%= link_to_destroy(unit_registration_document_path(@unit, registration_document)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
