<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'language' %><strong><%= @language.name %></strong>
        <div class="card-header-actions">
          <%= link_to_edit(edit_language_path(@language)) %>
          <%= link_to_destroy(@language) %>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('.name') %></td>
              <td><%= @language.name %></td>
            </tr>
            <tr>
              <td><%= t('.iso') %></td>
              <td><%= @language.iso %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        <%= link_to_back(languages_path) %>
      </div>
    </div>
  </div>
</div>
