<%= javascript_include_tag 'chart' %>

<div class="row">
  <div class="col-sm-6 col-md-2">
    <div class="card text-white bg-info">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4"><i class="icon-people"></i></div>
        <div class="text-value"><%= Xokul::Ubs::Statistic::Student.by_genders.sum { |item| item[:number_of_students] } %></div>
        <small class="text-muted text-uppercase font-weight-bold">Öğrenci</small>
        <div class="progress progress-white progress-xs mt-3">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 mb-5">
    <%= render 'chart_for_genders', data: Xokul::Ubs::Statistic::Student.by_genders %>
  </div>
  <div class="col-sm-6 mb-5">
    <%= render 'chart_for_genders_and_degrees', data: Xokul::Ubs::Statistic::Student.by_genders_and_degree %>
  </div>
  <div class="col-sm-6 mb-5">
    <%= render 'chart_for_double_major_and_minor', data: Xokul::Ubs::Statistic::Student.double_major_and_minor %>
  </div>
</div>
