<div data-controller="manager-dashboard">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-success text-white"><%= fa_icon 'graduation-cap' %></div>
        <div class="card-body">
          <div>
            <div class="text-value"><%= Xokul::UBS::Statistic::Student.by_genders.sum { |item| item[:number_of_students] } %></div>
            <div class="text-uppercase text-muted small font-weight-bold"><%= t('.student') %></div>
          </div>
          <div>
            <a href="#"
              data-action="click->manager-dashboard#load"
              data-content-url="<%= manager_students_path %>"
              class="btn btn-outline-success btn-pill btn-sm float-right mt-2"><%= fa_icon('info-circle', text: t('.more_information')) %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header bg-info text-white"><%= fa_icon 'users' %></div>
        <div class="card-body">
          <div>
            <div class="text-value"><%= Employee.active.distinct(:user_id).count %></div>
            <div class="text-uppercase text-muted small font-weight-bold"><%= t('.employee') %></div>
          </div>
          <div>
            <a href="#"
              data-action="click->manager-dashboard#load"
              data-content-url="<%= manager_employees_path %>"
              class="btn btn-outline-info btn-pill btn-sm float-right mt-2"><%= fa_icon('info-circle', text: t('.more_information')) %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header bg-warning text-white"><%= fa_icon 'book' %></div>
        <div class="card-body">
          <div>
            <div class="text-value"><%= Article.count %></div>
            <div class="text-uppercase text-muted small font-weight-bold"><%= t('.academic_publishing') %></div>
          </div>
          <div>
            <a href="#"
              data-action="click->manager-dashboard#load"
              data-content-url="<%= manager_articles_path %>"
              class="btn btn-outline-warning btn-pill btn-sm float-right mt-2"><%= fa_icon('info-circle', text: t('.more_information')) %></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-target="manager-dashboard.content">
    <%= content_loader_tag(manager_students_path) %>
  </div>

  <div data-target="manager-dashboard.loadingMessage"
       class="d-none">
    <%= render 'layouts/components/loading' %>
  </div>
</div>
