<div class="card">
  <div class="card-header">
    <div class="card-header-actions">
      <%= link_to_actions(@user, except: :show) %>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-responsive-sm">
      <tbody>
        <tr>
          <td><%= t('.id_number') %></td>
          <td><%= @user.id_number %></td>
        </tr>
        <tr>
          <td><%= t('.email') %></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td><%= t('created_at') %></td>
          <td><%= @user.created_at %></td>
        </tr>
        <tr>
          <td><%= t('updated_at') %></td>
          <td><%= @user.updated_at %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
