<!-- TODO: WIP. Locales + tasarım. -->

<div class="row">
<div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <%= link_to (@user.addresses.formal.present? ? t('.update_from_mernis') : t('.create_from_mernis') ), save_address_from_mernis_user_path, class: "btn btn-outline-primary btn-sm"  %>
      </div>
    </div>
  </div>

  <% if @addresses.any? %>
    <% @addresses.each do |address| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <div class="card-header-actions">
              <%= link_to_edit(edit_address_path(address)) %>
              <%= link_to_destroy(address) %>
            </div>
          </div>

          <div class="card-body">
            <table class='table table-responsive-sm'>
              <tr>
                <td><%= t('activerecord.attributes.address.name') %></td>
                <td>
                  <span class="badge badge-secondary">
                    <%= fa_icon('gavel', text: t('activerecord.enums.address.names.formal')) if address.formal? %>
                    <%= fa_icon('address-book', text: t('activerecord.enums.address.names.informal')) if address.informal? %>
                  </span>
                </td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.address.phone_number') %></td>
                <td><%= address.phone_number %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.address.full_address') %></td>
                <td><%= address.full_address %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.address.district') %></td>
                <td><%= address.district.name %> / <%= address.district.city.name %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
          Kullanıcının adres bilgisi bulunmuyor. MERNİS'ten getir.
        </div>
      </div>
    </div>
  <% end %>
</div>
