<!-- TODO: WIP. Locales + tasarım. -->

<div class="row">
  <% if @identities.any? %>
    <% @identities.each do |identity| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <div class="card-header-actions">
              <%= link_to_edit(edit_identity_path(identity)) %>
              <%= link_to_destroy(identity) %>
            </div>
          </div>

          <div class="card-body">
            <table class='table table-responsive-sm'>
              <tr>
                <td><%= t('activerecord.attributes.identity.name') %></td>
                <td>
                  <span class="badge badge-secondary">
                    <%= fa_icon('gavel', text: t('activerecord.enums.identity.names.formal')) if identity.formal? %>
                    <%= fa_icon('user', text: t('activerecord.enums.identity.names.informal')) if identity.informal? %>
                  </span>
                </td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.identity.last_name') %></td>
                <td><%= identity.last_name %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.identity.first_name') %></td>
                <td><%= identity.first_name %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.identity.mothers_name') %></td>
                <td><%= identity.mothers_name %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.identity.fathers_name') %></td>
                <td><%= identity.fathers_name %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.identity.gender') %></td>
                <td><%= enum_t(identity, :gender) %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.identity.marital_status') %></td>
                <td><%= enum_t(identity, :marital_status) %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.identity.place_of_birth') %></td>
                <td><%= identity.place_of_birth %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.identity.date_of_birth') %></td>
                <td><%= identity.date_of_birth %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.identity.registered_to') %></td>
                <td><%= identity.registered_to %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
          Kullanıcının kimlik bilgisi bulunmuyor. MERNİS'ten getir.
        </div>
      </div>
    </div>
  <% end %>
</div>
