<h2>Şifrenizi Değiştirin</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class='form-inputs'>
    <%= f.input :password, label: 'Yeni şifre', required: true, autofocus: true, hint: ("en az #{@minimum_password_length} karakter" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: 'Yeni şifre (tekrar)', required: true %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, 'Şifremi Değiştir', class: 'btn btn-primary' %> |
    <%= render 'devise/shared/links' %>
  </div>
<% end %>
