<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class='card-header'>
        <%= t('.number_of_articles_by_years') %>
      </div>
      <div class="card-body">
        <%= line_chart Article.active.order(year: :asc).group(:year).count %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class='card-header'>
        <%= t('.publications_by_index_types') %>
      </div>
      <div class="card-body">
        <%= line_chart Article.active.group(:index).count.sort_by(&:last).reverse %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class='card-header'>
        <%= t('.publications_by_publication_types') %>
      </div>
      <div class="card-body">
        <%= line_chart Article.active.group(:type).count.sort_by(&:last).reverse %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class='card-header'>
        <%= t('.publications_by_language') %>
      </div>
      <div class="card-body">
        <%= pie_chart Article.active.group(:language_of_publication).count %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class='card-header'>
        <%= t('.publications_by_number_of_authors') %>
      </div>
      <div class="card-body">
        <%= column_chart Article.active.group(:number_of_authors).having("number_of_authors <= ?", 15).count %>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class='card-header'>
        <%= t('.units_with_the_most_articles') %>
      </div>
      <div class="card-body">
        <%= column_chart @number_of_articles_by_units.sort_by(&:last).reverse.first(200) %>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class='card-header'>
        <%= t('.units_with_the_fewest_articles') %>
      </div>
      <div class="card-body">
        <%= column_chart @number_of_articles_by_units.sort_by(&:last).first(200) %>
      </div>
    </div>
  </div>
  
  <div class="col-sm-12">
    <div class="card">
      <div class='card-header'>
        <%= t('.articles_by_base_units') %>
      </div>
      <div class="card-body">
        <%= line_chart @number_of_articles_by_base_units.values.reduce(:merge).sort_by(&:last).reverse %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class='card-header'>
        <%= t('.articles_by_unit_types') %>
      </div>
      <div class="card-body">
        <%= line_chart @number_of_articles_by_base_units.transform_values{ |units| units.values.sum }.sort_by(&:last).reverse %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <%= t('.top_publishers') %>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% User.with_most_articles.each do |user| %>
            <li class="list-group-item">
              <%= link_to user_profile_path(user) do %>
                <%= "#{user.identities.first.try(:first_name)} #{user.identities.first.try(:last_name)}" %>
              <% end %>
              - <%= user.duties.tenure.first.try(:unit).try(:name) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <%= t('.recently_added') %>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% Article.most_recent.each do |article| %>
            <small><li class="list-group-item"><%= article_citation(article) %></li></small>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
