<table class='table table-striped table-hover'>
  <thead class="thead-dark">
    <tr>
      <th><%= t('name', scope: %i[activerecord attributes patron/role]) %></th>
      <th><%= t('identifier', scope: %i[activerecord attributes patron/role]) %></th>
      <th><%= t('locked', scope: %i[activerecord attributes patron/role]) %></th>
      <% if actions_visible %>
        <th><%= t('actions') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% roles.each do |role| %>
      <tr>
        <td><%= link_to(role.name, role) %></td>
        <td><%= role.identifier %></td>
        <td><%= icon_for_check(role.locked) %></td>
        <% if actions_visible %>
          <td><%= link_to_actions(role) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
