<div class='row'>
  <div class='col-lg-2'>
    <%= render 'user_management/components/sidebar' %>
  </div>
  <div class='col-lg-10'>
    <div class='alert alert-light'>
      <%= link_to_new(t('.new_address'), [:new, :user_management, :user, :address]) unless @user.addresses.informal.present? %>
      <%= link_to (@addresses.formal.present? ? t('.update_from_mernis') :  t('.create_from_mernis') ),
                  [:save_from_mernis, :user_management, @user, :addresses], class: "btn btn-outline-primary btn-sm"  %>
    </div>
    <% @addresses.each do |address| %>
      <div class='card'>
        <div class='card-header'>
          <%= fa_icon('address-book-o') %>
          <% if address.formal? %>
            <strong><%= t('.formal_address') %></strong>
          <% else %>
            <strong><%= t('.informal_address') %></strong>
            <div class='card-header-actions'>
              <%= link_to_edit([:edit, :user_management, address.user, address]) %>
              <%= link_to_destroy([:user_management, address.user, address]) %>
            </div>
          <% end %>
        </div>
        <div class='card-body'>
          <table class='table table-responsive-sm'>
            <% unless address.formal? %>
              <tr>
                <th width='15%'><%= t('.phone_number') %></th>
                <td><%= address.phone_number %></td>
              </tr>
            <% end %>
            <tr>
              <th width='15%'><%= t('.full_address') %></th>
              <td><%= address.full_address %></td>
            </tr>
            <tr>
              <th width='15%'><%= t('.district_and_city') %></th>
              <td><%= address.district.name %> / <%= address.district.city.name %></td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
