<%= simple_form_for(@academic_calendar) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Takvim Adı' %>
    <%= f.input :year, collection: 1975..Time.now.year, label: 'Yıl' %>
    <%= f.association :academic_term, label_method: :fullname, value_method: :id, label: 'Dönem' %>
    <%= f.association :calendar_type, label: 'Takvim Türü' %>
    <%= f.input :senate_decision_date, start_year: 1975, label: 'Senato Karar Tarihi' %>
    <%= f.input :senate_decision_no, label: 'Senato Karar No' %>
    <%= f.input :description, label: 'Açıklama' %>
  </div>

  <% if @academic_calendar.persisted?  %>
    <center><h3>Etkinlikler</h3></center>
    <div class="col-lg-12">
      <%= f.simple_fields_for :calendar_events do |event| %>
        <%= render "calendar_event_fields", f: event %>
      <% end %>
      <br>
      <center><%= link_to_add_association 'Etkinlik Ekle', f, :calendar_events, class: 'btn btn-light' %></center>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
