<div class='alert alert-light'>
  <%= link_to_new(new_academic_calendar_path, t('.new_academic_calendar_link')) %>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'align-justify', text: t('.card_header') %>
      </div>
      <div class='card-body'>
        <%= render 'components/smart_search_form',
                   path: academic_calendars_path,
                   placeholder: t('.name') %>
        <table class='table table-responsive-sm table-striped'>
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.academic_term') %></th>
              <th><%= t('.calendar_type') %></th>
              <th><%= t('.senate_decision_date') %></th>
              <th><%= t('.senate_decision_no') %></th>
              <th><%= t('created_at') %></th>
              <th><%= t('updated_at') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @academic_calendars.each do |academic_calendar| %>
              <tr>
                <td><%= academic_calendar.name %></td>
                <td><%= full_name(academic_calendar.academic_term) %></td>
                <td><%= academic_calendar.calendar_type.name %></td>
                <td><%= academic_calendar.senate_decision_date %></td>
                <td><%= academic_calendar.senate_decision_no %></td>
                <td><%= academic_calendar.created_at.to_date %></td>
                <td><%= academic_calendar.updated_at.to_date %></td>
                <td>
                  <%= link_to_show(academic_calendar_path(academic_calendar)) %>
                  <%= link_to_edit(edit_academic_calendar_path(academic_calendar)) %>
                  <%= link_to_destroy(academic_calendar) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label='pagination'>
      <ul class='pagination justify-content-center'>
        <%== pagy_nav_bootstrap(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
