<div class="card">
  <br>
  <h4 class="card-heading text-center">
    <%= @academic_calendar.name %>
  </h4>

  <table class="table">
    <thead>
      <tr>
        <th>Dönem</th>
        <th>Takvim Türü</th>
        <th>Senato Karar Tarihi</th>
        <th>Senato Karar No</th>
        <th colspan="3">İşlemler</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= full_name(@academic_calendar.academic_term) %></td>
        <td><%= @academic_calendar.type_name %></td>
        <td><%= @academic_calendar.senate_decision_date %></td>
        <td><%= @academic_calendar.senate_decision_no %></td>
        <td>
          <%= link_to 'Düzenle', edit_academic_calendar_path(@academic_calendar), class: "btn btn-secondary btn-sm" %>
          <%= link_to 'Sil', @academic_calendar, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <b>Takvim Açıklamaları:</b>
          <%= @academic_calendar.description %>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <br>
  <h4 class="card-heading text-center">Takvim Etkinlikleri</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Etkinlik</th>
        <th>Başlama Tarihi</th>
        <th>Bitiş Tarihi</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.calendar_title_name %></td>
          <td><%= event.start_date.strftime("%d-%m-%Y %H:%M:%S") %></td>
          <td><%= event.end_date.try(:strftime, "%d-%m-%Y %H:%M:%S") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-footer">
    <%= link_to 'Geri', :back %>
  </div>
</div>
