<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'university' %><strong><%= @duty.unit.name %></strong>
        <div class="card-header-actions">
          <%= link_to_edit(edit_user_employee_duty_path(@user, @employee, @duty)) %>
          <%= link_to_destroy(user_employee_duty_path(@user, @employee, @duty)) %>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('.user_id') %></td>
              <td><%= link_to(@user.email, @user) %></td>
            </tr>
            <tr>
              <td><%= t('.employee_id') %></td>
              <td><%= link_to(@employee.title.name, [@user, @employee]) %></td>
            </tr>
            <tr>
              <td><%= t('.unit_id') %></td>
              <td><%= @duty.unit.name %></td>
            </tr>
            <tr>
              <td><%= t('.temporary') %></td>
              <td><%= t('.temporaries')[@duty.temporary.to_s.to_sym] %></td>
            </tr>
            <tr>
              <td><%= t('.start_date') %></td>
              <td><%= @duty.start_date %></td>
            </tr>
            <tr>
              <td><%= t('.end_date') %></td>
              <td><%= @duty.end_date %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'university', text: t('.positions') %>
        <div class="card-header-actions">
          <%= link_to_new new_user_employee_duty_position_path(@user, @employee, @duty), t('.new_position_link') %>
        </div>
      </div>
      <div class='card-body'>
        <table class='table table-responsive-sm table-striped'>
          <thead>
            <tr>
              <th><%= t('.position') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @positions.each do |position| %>
              <tr>
                <td><%= position.administrative_function.name %></td>
                <td>
                  <%= link_to_edit(edit_user_employee_duty_position_path(@user, @employee, @duty, position)) %>
                  <%= link_to_destroy(user_employee_duty_position_path(@user, @employee, @duty, position)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
