<div class='row'>
  <div class='col-sm-12'>
    <% if articles.blank? && @user == current_user %>
      <div class='text-center'>
        <%= link_to fa_icon('download', text: t('.create_articles_from_yoksis')),
                    yoksis_services_fetch_path(service: 'articles'),
                    class: 'btn btn-sm btn-success m-4' %>
      </div>
    <% else %>
      <div class='mb-2 text-right'>
        <%= link_to_fetch yoksis_services_fetch_path(service: 'articles') %>
      </div>
      <div class="list-group">
        <% articles.each do |article| %>
          <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1"><%= article.title %></h6>
            </div>
            <p class="mb-1"><small><%= article.authors %>, <%= article.journal %></small></p>
            <span class="badge badge-light"><%= enum_t(article, :scope) %></span>
            <span class="badge badge-primary"><%= enum_t(article, :review) %></span>
            <span class="badge badge-success"><%= article.index %></span>
            <span class="badge badge-secondary"><%= enum_t(article, :type) %></span>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @pagy.pages > 1 %>
    <div class='col-sm-12 mt-2'>
      <nav aria-label='pagination'>
        <ul class='pagination justify-content-center'>
          <%== pagy_bootstrap_nav(pagy) %>
        </ul>
      </nav>
    </div>
  <% end %>
</div>
