<div class='row'>
  <div class='col-sm-12'>
    <div class="list-group">
      <% courses.each do |course| %>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1"><%= course.name %></h6>
          </div>
          <p class="mb-1"><small><%= course.program_fullname %>, <%= course.program_description %></small></p>
          <span class="badge badge-light"><%= course.grouped ? course.course_group_code : course.code %></span>
          <span class="badge badge-primary"><%= course.year %></span>
          <span class="badge badge-success"><%= course.semester %></span>
          <span class="badge badge-secondary"><%= course.education_type %></span>
          <span class="badge badge-info"><%= course.degree %></span>
        </a>
      <% end %>
    </div>
  </div>
  <% if @pagy.pages > 1 %>
    <div class='col-sm-12 mt-2'>
      <nav aria-label='pagination'>
        <ul class='pagination justify-content-center'>
          <%== pagy_bootstrap_nav(pagy) %>
        </ul>
      </nav>
    </div>
  <% end %>
</div>
