<div class='row'>
  <div class='col-sm-12'>
    <%= action_bar do %>
      <%= link_to_back(:back) %>
    <% end %>

    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'user-tag' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(@role) do |f| %>
          <%= f.error_notification %>

          <div class="row">
            <div class="col-sm-6">
              <%= f.input :name, required: true %>
            </div>

            <div class="col-sm-6">
              <%= f.input :identifier, required: true %>
            </div>

            <div class="col-sm-12">
              <div class="alert alert-secondary">
                <h3 class='text-center'><%= t('.permissions') %></h3>
              </div>
            </div>

            <%= f.simple_fields_for :role_permissions do |role_permission| %>
              <%= render 'role_permission_fields', f: role_permission %>
            <% end %>

            <div class='links col-sm-12'>
              <%= link_to_add_association f, :role_permissions, class: 'btn btn-primary btn-sm pull-right' %>
            </div>

            <div class="col-sm-12">
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'shared/cocoon' %>
