<div class='row'>
  <div class='col-sm-12'>
    <%= action_bar do %>
      <%= link_to_back(:back) %>
    <% end %>

    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'user-tag' %>
        <strong><strong><%= form_title %></strong></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(@role) do |f| %>
          <%= f.error_notification %>

          <div class="col-sm-12">
            <%= f.input :name, required: true %>
          </div>

          <div class="col-sm-12">
            <%= f.input :identifier, required: true %>
          </div>

          <div class="col-sm-12">
            <%= f.association :permissions, required: true %>
          </div>

          <div class="col-sm-12">
            <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
