<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'book' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(@available_course) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <% if f.object.errors.any? %>
            <ul class='list-group list-group-accent'>
              <% f.object.errors.full_messages.each do |message| %>
                <li class='list-group-item list-group-item-accent-danger list-group-item-danger'>
                  <%= message %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <div class='row'>
            <div class='form-group col-sm-6'>
              <%= f.association :unit,
                                collection:   Unit.active.coursable.order(:name),
                                label_method: :names_depth_cache %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :curriculum,
                                collection: [*f.object.unit.try(:managed_curriculums)] %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :coordinator,
                                collection:   [*f.object.unit.try(:subtree_employees)],
                                label_method: lambda { |c| full_name(c) } %>
            </div>
            <div class='form-group col-sm-6'>
              <% if f.object.curriculum %>
                <% courses = CurriculumDecorator.new(f.object.curriculum)
                                                .openable_courses_for_active_term(appends: f.object.curriculum_course) %>
              <% end %>
              <%= f.association :curriculum_course,
                                collection: [*courses] %>
            </div>
          </div>

          <h3 class='text-center'><%= t('.groups') %></h3>
          <div class='col-sm-12' id='groups'>
            <%= f.simple_fields_for :groups do |group| %>
              <%= render 'group_fields', f: group %>
            <% end %>
            <div class='links text-center'>
              <%= link_to_add_association f, :groups, class: 'btn btn-success btn-sm' %>
            </div>
          </div>
          <div class='form-group col-sm-12'>
            <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
            <%= link_to_back(:back) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'js' %>
<%= javascript_include_tag 'shared/cocoon' %>
