<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'calendar' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(@available_course) do |f| %>
          <%= f.error_notification %>
          <% if f.object.errors.any? %>
            <ul class="list-group list-group-accent">
              <% f.object.errors.full_messages.each do |message| %>
                <li class="list-group-item list-group-item-accent-danger list-group-item-danger">
                  <%= message %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <div class='row mt-3'>
            <div class='form-group col-sm-6'>
              <%= f.association :unit, collection: Unit.active.coursable.order(:name), label_method: :names_depth_cache %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :curriculum, collection: f.object.unit.present? ? f.object.unit.curriculums : [] %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :academic_term, label_method: lambda { |academic_term| full_name(academic_term) } %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :course, collection: f.object.curriculum.present? ? f.object.curriculum.courses : [] %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'js' %>
