<div class='nested-fields' id='groups'>
  <div class='card card-default'>
    <div class='card-body bg-light'>
      <div class='row'>
        <div class='col-sm-12'>
          <%= f.input :name, required: true %>
        </div>
        <div class='col-sm-12'>
          <%= f.input :quota, required: true %>
        </div>
      </div>
      <div class='col-sm-12' id='lecturers'>
        <%= f.simple_fields_for :lecturers do |lecturer| %>
          <%= render 'lecturer_fields', f: lecturer %>
        <% end %>
        <div class='links text-center'>
          <%= link_to_add_association f, :lecturers, class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
    <div class='card-footer'>
      <%= link_to_remove_association f, class: 'btn btn-danger btn-sm' if @available_course.persisted? && @available_course.reifiable? %>
    </div>
  </div>
</div>
