<div class='row'>
  <div class='col-lg-12'>
    <div class="alert alert-light">
      <%= link_to_back available_courses_path %>
      <%= link_to_edit edit_available_course_path(@available_course) %>
      <%= link_to_destroy available_course_path(@available_course) %>
    </div>

    <div class="card">
      <div class="card-header">
         <%= fa_icon 'book' %><strong><%= @available_course.course.name %></strong>
      </div>
      <div class="card-body table-responsive">
        <table class='table table-bordered table-hover'>
          <tbody>
            <tr>
              <th><%= t('.course') %></th>
              <td><%= @available_course.course.name %></td>
            </tr>
            <tr>
              <th><%= t('.unit') %></th>
              <td><%= @available_course.curriculum.unit.name %></td>
            </tr>
            <tr>
              <th><%= t('.curriculum') %></th>
              <td><%= @available_course.curriculum.name %></td>
            </tr>
            <tr>
              <th><%= t('.academic_term') %></th>
              <td><%= full_name(@available_course.academic_term) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <% @groups.each do |group| %>
      <div class="card">
        <div class="card-header">
          <%= fa_icon 'book' %><strong><%= group.name %></strong>
        </div>
        <div class="card-body table-responsive">
          <b><%= t('.lecturers') %></b>
          <table class='table table-responsive-sm table-sm'>
            <thead>
              <tr>
                <th><%= t('.title') %></th>
                <th><%= t('.lecturer') %></th>
                <th><%= t('.coordinator') %></th>
              </tr>
            </thead>
            <tbody>
              <% group.lecturers.each do |group_lecturer| %>
                <tr>
                  <td><%= group_lecturer.lecturer.title.name %></td>
                  <% lecturer_identity = group_lecturer.lecturer.identities.formal.first %>
                  <td><%= "#{lecturer_identity.try(:first_name)} #{lecturer_identity.try(:last_name)}" %></td>
                  <td><%= group_lecturer.coordinator ? t('yes') : t('no') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <b><%= 'Programlar' %></b>
          <table class='table table-responsive-sm table-sm'>
            <thead>
              <tr>
                <th><%= t('.unit') %></th>
                <th><%= t('.quota') %></th>
              </tr>
            </thead>
            <tbody>
              <td><%= @available_course.curriculum.unit.name %></td>
              <td><%= group.quota %></td>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <%= link_to_edit(edit_available_course_available_course_group_path(@available_course, group)) %>
          <%= link_to_destroy(available_course_available_course_group_path(@available_course, group)) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="alert alert-light">
  <%= link_to_new new_available_course_available_course_group_path(@available_course) %>
</div>
