<div class='row'>
  <div class='col-lg-12'>
    <div class='alert alert-light'>
      <%= link_to_back available_courses_path %>
      <% except = %i[show] << (:destroy unless @available_course.reifiable?) %>
      <%= link_to_actions(@available_course, except: except.compact) %>
    </div>

    <div class='card'>
      <div class='card-header'>
         <%= fa_icon 'book' %><strong><%= @available_course.name %></strong>
      </div>
      <div class='card-body table-responsive'>
        <table class='table table-bordered table-hover'>
          <tbody>
            <tr>
              <th><%= t('.unit') %></th>
              <td><%= @available_course.unit_name %></td>
              <th><%= t('.curriculum') %></th>
              <td><%= @available_course.curriculum_name %></td>
            </tr>
            <tr>
              <th><%= t('.curriculum_course') %></th>
              <td>
                <%= @available_course.name %>
                <span class='badge badge-primary'>T: <%= @available_course.theoric %></span>
                <span class='badge badge-warning'>P: <%= @available_course.practice %></span>
                <span class='badge badge-info'>L: <%= @available_course.laboratory %></span>
                <span class='badge badge-success'>K: <%= @available_course.credit %></span>
              </td>
              <th><%= t('.academic_term') %></th>
              <td><%= full_name(@available_course.academic_term) %></td>
            </tr>
            <tr>
              <th><%= t('.coordinator') %></th>
              <td colspan='3'><%= full_name(@available_course.coordinator) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= render 'evaluation_types' %>
      <%= render 'groups' %>
    </div>
  </div>
</div>
