<div class='row'>
  <div class='col-lg-12'>
    <div class="alert alert-light">
      <%= link_to_back available_courses_path %>
      <%= link_to_edit edit_available_course_path(@available_course) %>
      <%= link_to_destroy available_course_path(@available_course) %>
    </div>

    <div class="card">
      <div class="card-header">
         <%= fa_icon 'book' %><strong><%= @available_course.course.name %></strong>
      </div>
      <div class="card-body table-responsive">
        <table class='table table-bordered table-hover'>
          <tbody>
            <tr>
              <th><%= t('.unit') %></th>
              <td><%= @available_course.unit_name %></td>
              <th><%= t('.curriculum') %></th>
              <td><%= @available_course.curriculum_name %></td>
            </tr>
            <tr>
              <th><%= t('.course') %></th>
              <td>
                <%= @available_course.name %>
                <span class="badge badge-primary">T: <%= @available_course.theoric %></span>
                <span class="badge badge-warning">P: <%= @available_course.practice %></span>
                <span class="badge badge-info">L: <%= @available_course.laboratory %></span>
                <span class="badge badge-success">K: <%= @available_course.credit %></span>
              </td>
              <th><%= t('.academic_term') %></th>
              <td><%= full_name(@available_course.academic_term) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12">
        <% @groups.each do |group| %>
          <div class="card">
            <div class="card-header bg-secondary">
              <%= fa_icon 'book' %><strong><%= group.name %></strong>
            </div>
            <div class="card-body">
              <table class='table table-responsive-sm table-striped'>
                <thead class="thead-dark">
                  <tr>
                    <th><%= t('.title') %></th>
                    <th><%= t('.lecturer') %></th>
                    <th><%= t('.coordinator') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% group.lecturers.each do |lecturer| %>
                  <tr>
                    <td><%= lecturer.title.name %></td>
                    <td><%= full_name(lecturer.identities.formal.first) %></td>
                    <td>
                      <% if lecturer.coordinator %>
                        <span class="text-success"><%= fa_icon('check-circle-o') %></span>
                      <% else %>
                        <span class="text-danger"><%= fa_icon('times-circle-o') %></span>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="callout callout-info">
               <small class="text-muted"><%= t('.quota')%> </small><br>
               <strong class="h4"><%= group.quota %></strong>
             </div>
            </div>
            <div class="card-footer">
              <%= link_to_edit(edit_available_course_available_course_group_path(@available_course, group)) %>
              <%= link_to_destroy(available_course_available_course_group_path(@available_course, group)) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-light">
  <%= link_to_new(new_available_course_available_course_group_path(@available_course), t('.create_available_course_group')) %>
</div>
