<div class='col-lg-12'>
  <div class='card'>
    <div class='card-header'>
      <%= fa_icon 'list-alt' %><strong><%= t('.card_header') %></strong>
      <span class='pull-right'>
      </span>
    </div>
    <div class='card-body'>
      <% @evaluation_types.each do |evaluation_type| %>
        <div class='card-header'>
          <%= fa_icon 'sticky-note' %><b><%= "#{evaluation_type.name} (%#{evaluation_type.percentage})" %></b>
          <span class='pull-right'>

          </span>
        </div>
        <table class='table table-sm table-striped'>
          <thead class='thead'>
            <tr>
              <th><%= t('.assessment_method') %></th>
              <th><%= t('.percentage') %></th>
              <th><%= t('.status') %></th>
            </tr>
          </thead>
          <tbody>
            <% evaluation_type.course_assessment_methods.each do |assessment| %>
              <tr>
                <td><%= assessment.name %></td>
                <td><%= assessment.percentage %></td>
                <td><%= enum_t(assessment, :status) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
