<div class='alert alert-light'>
  <%= link_to_new(new_document_path, t('.new_document_link')) %>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'align-justify', text: t('.card_header') %>
      </div>
      <div class='card-body'>
        <table class='table table-responsive-sm table-sm'>
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.statement') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @documents.each do |document| %>
              <tr>
                <td><%= document.name %></td>
                <td><%= document.statement %></td>
                <td>
                  <%= link_to_show(document_path(document)) %>
                  <%= link_to_edit(edit_document_path(document)) %>
                  <%= link_to_destroy(document) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label='pagination'>
      <ul class='pagination justify-content-center'>
        <%== pagy_nav_bootstrap(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
