<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'search', text: 'Arama Yap' %>
      </div>
      <div class="card-body">
        <%= form_tag countries_path, method: :get do %>
          <div class="form-group">
            <%= text_field_tag 'term', params[:term], placeholder: "Ülke adı veya ISO kodu", class: 'form-control' %>
          </div>
          <%= submit_tag 'Ülkeleri Ara', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'align-justify', text: 'Ülkeler' %>
        <div class="card-header-actions">
          <%= link_to new_country_path, class: "card-header-action" do %>
            <%= fa_icon 'plus', text: 'Yeni Ekle' %>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-striped">
          <thead>
            <tr>
              <th>Ülke Adı</th>
              <th>ISO Kodu</th>
              <th>Resmi Kod</th>
              <th colspan="3">İşlemler</th>
            </tr>
          </thead>
          <tbody>
            <% @countries.each do |country| %>
              <tr>
                <td><%= country.name %></td>
                <td><%= country.iso %></td>
                <td><%= country.code %></td>
                <td><%= link_to('Görüntüle', country_path(country), class: 'btn btn-secondary btn-sm') %></td>
                <td><%= link_to('Düzenle', edit_country_path(country), class: 'btn btn-secondary btn-sm') %></td>
                <td><%= link_to('Sil', country, method: :delete, data: { confirm: 'Emin misiniz? Bu işlem geri alınamaz.' }, class: 'btn btn-danger btn-sm') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <%== pagy_nav_bootstrap(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
