<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'university' %><strong><%= @country.name %></strong>
        <div class="card-header-actions">
          <%= link_to_edit(edit_country_path(@country)) %>
          <%= link_to_destroy(@country) %>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('activerecord.attributes.country.name') %></td>
              <td><%= @country.name %></td>
            </tr>
            <tr>
              <td><%= t('activerecord.attributes.country.alpha_2_code') %></td>
              <td><%= @country.alpha_2_code %></td>
            </tr>
            <tr>
              <td><%= t('activerecord.attributes.country.alpha_3_code') %></td>
              <td><%= @country.alpha_3_code %></td>
            </tr>
            <tr>
              <td><%= t('activerecord.attributes.country.numeric_code') %></td>
              <td><%= @country.numeric_code %></td>
            </tr>
            <tr>
              <td><%= t('activerecord.attributes.country.mernis_code') %></td>
              <td><%= @country.mernis_code %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'street-view', text: t('.card_header') %>
        <div class="card-header-actions">
          <%= link_to_new new_country_city_path(@country), t('.new_city_link') %>
        </div>
      </div>
      <div class='card-body'>
        <%= form_tag country_path(@country), method: :get do %>
          <div class="form-group">
            <%= text_field_tag 'term', params[:term], placeholder: t('.name'), class: 'form-control' %>
          </div>
          <%= submit_tag t('search'), class: 'btn btn-primary' %>
        <% end %>
        <hr \>
        <table class='table table-responsive-sm table-striped'>
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.alpha_2_code') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @cities.each do |city| %>
              <tr>
                <td><%= city.name %></td>
                <td><%= city.alpha_2_code %></td>
                <td>
                  <%= link_to_show(country_city_path(@country, city)) %>
                  <%= link_to_edit(edit_country_city_path(@country, city)) %>
                  <%= link_to_destroy(country_city_path(@country, city)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <nav aria-label="pagination">
      <ul class="pagination justify-content-center">
        <%== pagy_nav_bootstrap(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
