<div class='row'>
  <div class='col-lg-6'>
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'university' %>
        <strong><%= t('.prospective_student') %></strong>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <th><%= t('.student_entrance_type') %></th>
              <td><%= @prospective_student.student_entrance_type.try(:name) %></td>
            </tr>
            <tr>
              <th><%= t('.unit') %></th>
              <td><%= @prospective_student.unit.names_depth_cache %></td>
            </tr>
            <tr class="<%= boolean_to_class_for_table(@prospective_student.meb_status) %>">
              <th><%= t('.meb_status') %></th>
              <td>
                <p><%= @prospective_student.meb_status ? t('.graduated') : t('.not_graduated_or_unknown') %></p>
                <p><small><%= t('.last_update') %>: <%= as_date_and_time(@prospective_student.meb_status_date) %></small></p>
              </td>
            </tr>
            <tr class="<%= boolean_to_class_for_table(@prospective_student.military_status) %>">
              <th><%= t('.military_status') %></th>
              <td>
                <p><%= @prospective_student.military_status ? t('.unproblematic') : t('.must_see_recruiting_office') %></p>
                <p><small><%= t('.last_update') %>: <%= as_date_and_time(@prospective_student.military_status_date) %></small></p>
              </td>
            </tr>
            <tr class="<%= boolean_to_class_for_table(@prospective_student.obs_status) %>">
              <th><%= t('.obs_status') %></th>
              <td>
                <p><%= @prospective_student.obs_status ? t('.unproblematic') : t('.student_in_a_different_unit') %></p>
                <p><small><%= t('.last_update') %>: <%= as_date_and_time(@prospective_student.obs_status_date) %></small></p>
                <% if @prospective_student.obs_registered_program.present? %>
                  <p>
                    <%= fa_icon 'exclamation-triangle' %>
                    <strong><%= t('.registered_to', program: @prospective_student.obs_registered_program) %></strong>
                  </p>
                <% end %>
              </td>
            </tr>
            <% unless @prospective_student.registered %>
              <% @prospective_student.registration_documents.each do |registration_document| %>
                <tr>
                  <th><%= registration_document.name %></th>
                  <td>
                    <label class="c-switch c-switch-label c-switch-pill c-switch-success">
                      <input type="checkbox" class="registration-documents-checks c-switch-input">
                      <span class="c-switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <% unless @prospective_student.registered %>
        <div class="card-footer">
          <% if @prospective_student.permanent_registrable? %>
            <% if @prospective_student.can_permanently_register? %>
              <%= link_to(t('.permanently_register'),
                          %i[register prospective_student],
                          class:    'btn btn-block btn-success registration-button',
                          disabled: @prospective_student.unit.registration_documents.present?) %>
            <% else %>
              <%= link_to(t('.can_not_register'),
                          %i[register prospective_student],
                          class:    'btn btn-block btn-danger registration-button',
                          disabled: true) %>
            <% end %>
          <% elsif @prospective_student.temporary_registrable? %>
            <% if @prospective_student.can_temporarily_register? %>
              <%= link_to(t('.temporarily_register'),
                          %i[register prospective_student],
                          class:    'btn btn-block btn-success registration-button',
                          disabled: @prospective_student.unit.registration_documents.present?) %>
            <% else %>
              <%= link_to(t('.can_not_register'),
                          %i[register prospective_student],
                          class:    'btn btn-block btn-danger registration-button',
                          disabled: true) %>
            <% end %>
          <% else %>
            <div class="alert alert-danger" role="alert">
              <%= fa_icon 'exclamation-triangle', class: 'fa-2x' %>
              <strong><%= t('.not_proper_register_event_range') %></strong>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='col-lg-6'>
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'university' %><strong><%= t('.identity_information') %></strong>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <th><%= t('.avatar') %></th>
              <td>
                <%= image_tag "data:image/jpeg;base64, #{@prospective_student.avatar}",
                              class: 'rounded float-left',
                              style: 'width: 150px; height: 200px' %>
              </td>
            </tr>
            <tr>
              <th><%= t('.id_number') %></th>
              <td><%= @prospective_student.id_number %></td>
            </tr>
            <tr>
              <th><%= t('.first_name') %></th>
              <td><%= @prospective_student.first_name %></td>
            </tr>
            <tr>
              <th><%= t('.last_name') %></th>
              <td><%= @prospective_student.last_name %></td>
            </tr>
            <tr>
              <th><%= t('.date_of_birth') %></th>
              <td><%= @prospective_student.date_of_birth %></td>
            </tr>
            <tr>
              <th><%= t('.fathers_name') %></th>
              <td><%= @prospective_student.fathers_name %></td>
            </tr>
            <tr>
              <th><%= t('.mothers_name') %></th>
              <td><%= @prospective_student.mothers_name %></td>
            </tr>
            <tr>
              <th><%= t('.gender') %></th>
              <td><%= enum_t(@prospective_student, :gender) %></td>
            </tr>
            <tr>
              <th><%= t('.nationality') %></th>
              <td><%= enum_t(@prospective_student, :nationality) %></td>
            </tr>
            <tr>
              <th><%= t('.place_of_birth') %></th>
              <td><%= @prospective_student.place_of_birth %></td>
            </tr>
            <tr>
              <th><%= t('.registration_city') %></th>
              <td><%= @prospective_student.registration_city %></td>
            </tr>
            <tr>
              <th><%= t('.registration_district') %></th>
              <td><%= @prospective_student.registration_district %></td>
            </tr>
            <tr>
              <th><%= t('.state_of_education') %></th>
              <td><%= @prospective_student.state_of_education %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'university' %><strong><%= t('.other_information') %></strong>
      </div>

      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <th><%= t('.high_school_code') %></th>
              <td><%= @prospective_student.high_school_code %></td>
            </tr>
            <tr>
              <th><%= t('.high_school_type') %></th>
              <td><%= @prospective_student.high_school_type.try(:name) %></td>
            </tr>
            <tr>
              <th><%= t('.high_school_graduation_year') %></th>
              <td><%= @prospective_student.high_school_graduation_year %></td>
            </tr>
            <tr>
              <th><%= t('.placement_type') %></th>
              <td><%= enum_t(@prospective_student, :placement_type) %></td>
            </tr>
            <tr>
              <th><%= t('.exam_score') %></th>
              <td><%= @prospective_student.exam_score %></td>
            </tr>
            <tr>
              <th><%= t('.language_id') %></th>
              <td><%= @prospective_student.language_id %></td>
            </tr>
            <tr>
              <th><%= t('.address') %></th>
              <td><%= @prospective_student.address %></td>
            </tr>
            <tr>
              <th><%= t('.home_phone') %></th>
              <td><%= @prospective_student.home_phone %></td>
            </tr>
            <tr>
              <th><%= t('.mobile_phone') %></th>
              <td><%= @prospective_student.mobile_phone %></td>
            </tr>
            <tr>
              <th><%= t('.email') %></th>
              <td><%= @prospective_student.email %></td>
            </tr>
            <tr>
              <th><%= t('.student_disability_type') %></th>
              <td><%= @prospective_student.student_disability_type %></td>
            </tr>
            <tr>
              <th><%= t('.top_student') %></th>
              <td><%= @prospective_student.top_student ? t('yes') : t('no') %></td>
            </tr>
            <tr>
              <th><%= t('.placement_score') %></th>
              <td><%= @prospective_student.placement_score %></td>
            </tr>
            <tr>
              <th><%= t('.placement_rank') %></th>
              <td><%= @prospective_student.placement_rank %></td>
            </tr>
            <tr>
              <th><%= t('.preference_order') %></th>
              <td><%= @prospective_student.preference_order %></td>
            </tr>
            <tr>
              <th><%= t('.placement_score') %></th>
              <td><%= @prospective_student.placement_score %></td>
            </tr>
            <tr>
              <th><%= t('.additional_score') %></th>
              <td><%= @prospective_student.additional_score %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'js_for_registration_button' %>
