<div class='row'>
  <div class='col-sm-12'>
    <h2><%= t('.professional_experience') %></h2><br>
    <%= link_to (current_user.academic_credentials.active.exists? ? t('.update_academic_credentials_from_yoksis') : t('.create_academic_credentials_from_yoksis')),
                save_academic_credentials_from_yoksis_path,
                class: 'btn btn-secondary btn-sm pull-right' %>
    <h4><%= t('.academic') %></h4>
    <% current_user.academic_credentials.active.order(start_year: :desc).each do |credential| %>
      <li class='list-group-item bg-transparent'>
        <b><%= credential.title %></b><br>
        <%= credential.university %><br>
        <small><%= "#{credential.start_year} - #{credential.end_year || t('.continuing')}" %></small>
      </li>
    <% end %>
  </div>
</div>
<br>
