<div class='row'>
  <div class='col-sm-12'>
    <% unless current_user.articles.active.exists? %>
      <div class='text-center'>
        <%= link_to(fa_icon('download', text: t('.create_articles_from_yoksis')), save_articles_from_yoksis_path,
                    class: 'btn btn-sm btn-success m-4') %>
      </div>
    <% else %>
      <%= link_to(fa_icon('retweet'), save_articles_from_yoksis_path,
                  class: 'btn btn-sm btn-outline-secondary pull-right') %>
      <div class="list-group">
        <% current_user.articles.active.order(year: :desc).each do |article| %>
          <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1"><%= article.title %></h6>
            </div>
            <p class="mb-1"><small><%= article.authors %>, <%= article.journal %></small></p>
            <span class="badge badge-light"><%= enum_t article, :scope  %></span>
            <span class="badge badge-primary"><%= enum_t article, :review %></span>
            <span class="badge badge-success"><%= article.index %></span>
            <span class="badge badge-secondary"><%= enum_t article, :type %></span>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
