<div class='row'>
  <div class='col-sm-12'>
    <% unless current_user.books.active.exists? %>
      <div class='text-center'>
        <%= link_to(fa_icon('download', text: t('.create_books_from_yoksis')), save_books_from_yoksis_path,
                    class: 'btn btn-sm btn-success m-4') %>
      </div>
    <% else %>
      <%= link_to(fa_icon('retweet'), save_books_from_yoksis_path,
                  class: 'btn btn-sm btn-outline-secondary pull-right') %>
      <% current_user.books.active.order(year: :desc).each do |book| %>
        <div class="list-group">
          <% current_user.books.active.order(year: :desc).each do |book| %>
            <a class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1"><%= book.name %></h6>
              </div>
              <% if book.chapters? %>
                <small>
                  <p class="mb-1"><%= book_chapter_citation(book) %>.</p>
                </small>
              <% else %>
                <small>
                  <p class="mb-1"><%= book_citation(book) %>.</p>
                </small>
              <% end %>
              <span class="badge badge-info"><%= book.year %></span>
              <span class="badge badge-primary"><%= enum_t book, :contribution_rate %></span>
              <span class="badge badge-success"><%= enum_t book, :type %></span>
              <span class="badge badge-secondary"><%= enum_t book, :type_of_release %></span>
            </a>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
