<div class='row'>
  <div class='col-sm-12'>
    <%= link_to (current_user.education_informations.active.exists? ? t('.update_education_informations_from_yoksis') : t('.create_education_informations_from_yoksis')),
                 save_education_informations_from_yoksis_path,
                 class: 'btn btn-secondary btn-sm pull-right' %>
    <h2><%= t('.education_informations') %></h2><br />
    <% current_user.education_informations.active.order(start_year: :desc).each do |education| %>
      <li class='list-group-item bg-transparent'>
        <b><%= "#{education.program}:" %></b>
        <%= "#{education.university}, #{education.faculty}, #{education.department} /" %>
        <%= "#{education.start_year} - #{education.end_year || t('.continuing')}" %>
      </li>
    <% end %>
  </div>
</div>
<br />
