<div class='row'>
  <div class='col-sm-12'>
    <div class='card bg-transparent'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-sm-1'>
            <% if current_user.avatar.attached? && current_user.avatar.variable? %>
              <%= image_tag current_user.avatar.variant(resize_to_limit: [150, 150]) %>
            <% else %>
              <%= image_tag 'profile/avatar_placeholder.svg' %>
            <% end %>
            <hr>
          </div>
          <div class='col-sm-4'>
            <h4><%= "#{current_user.title} #{full_name(current_user.identities.formal.first)}" %></h4><br>
            <%= current_user.mobile_phone %><br>
            <%= current_user.email %><br>
            <%= link_to fa_icon('linkedin 2x'), current_user.linkedin %>
            <%= link_to fa_icon('skype 2x'), current_user.skype %>
            <%= link_to fa_icon('twitter-square 2x'), current_user.twitter %>
          </div>
        </div>
        <hr />
        <div class='col-sm-12'>
          <ul class='list-group list-group-flush'>
            <%= render 'education_informations' %>
          </ul>
          <ul class='list-group list-group-flush'>
            <%= render 'academic_credentials' %>
          </ul>
          <ul class='list-group list-group-flush'>
            <h2><%= t('.academic_activities') %></h2><br>
            <%= render 'articles' %>
            <%= render 'projects' %>
            <%= render 'books' %>
            <%= render 'certifications' %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
