<div class="row">
  <%= render 'card', content: HighSchoolType.count, title: '.high_school_types', path: admin_high_school_types_path %>
  <%= render 'card', content: StudentDisabilityType.count, title: '.student_disability_types', path: admin_student_disability_types_path %>
  <%= render 'card', content: StudentDropOutType.count, title: '.student_drop_out_types', path: admin_student_drop_out_types_path %>
  <%= render 'card', content: StudentEducationLevel.count, title: '.student_education_levels', path: admin_student_education_levels_path %>
  <%= render 'card', content: StudentEntrancePointType.count, title: '.student_entrance_point_types', path: admin_student_entrance_point_types_path %>
  <%= render 'card', content: StudentEntranceType.count, title: '.student_entrance_types', path: admin_student_entrance_types_path %>
  <%= render 'card', content: StudentGrade.count, title: '.student_grades', path: admin_student_grades_path %>
  <%= render 'card', content: StudentGradingSystem.count, title: '.student_grading_systems', path: admin_student_grading_systems_path %>
  <%= render 'card', content: StudentPunishmentType.count, title: '.student_punishment_types', path: admin_student_punishment_types_path %>
  <%= render 'card', content: StudentStudentshipStatus.count, title: '.student_studentship_statuses', path: admin_student_studentship_statuses_path %>
  <%= render 'card', content: UnitInstructionLanguage.count, title: '.unit_instruction_languages', path: admin_unit_instruction_languages_path %>
  <%= render 'card', content: UnitInstructionType.count, title: '.unit_instruction_types', path: admin_unit_instruction_types_path %>
  <%= render 'card', content: UnitStatus.count, title: '.unit_statuses', path: admin_unit_statuses_path %>
  <%= render 'card', content: UnitType.count, title: '.unit_types', path: admin_unit_types_path %>
  <%= render 'card', content: UniversityType.count, title: '.university_types', path: admin_university_types_path %>
</div>
