<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'align-justify', text: t('.card_header') %>
      </div>
      <div class='card-body'>
        <%= render 'components/smart_search_form',
                   path: calendar_titles_path,
                   placeholder: t('.name') %>
        <table class='table table-responsive-sm table-striped'>
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.type') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @calendar_titles.each do |calendar_title| %>
              <tr>
                <td><%= calendar_title.name %></td>
                <td><%= calendar_title.types.map(&:name).join(', ') %></td>
                <td>
                  <%= link_to_edit(edit_calendar_title_path(calendar_title), t('.select_calendar_type')) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label='pagination'>
      <ul class='pagination justify-content-center'>
        <%== pagy_nav_bootstrap(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
