<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'globe', text: t('.card_header') %>
        <div class='card-header-actions'>
          <%= link_to_new new_admin_country_path, t('.new_country_link') %>
        </div>
      </div>
      <div class='card-body'>
        <%= render 'components/smart_search_form',
           path: admin_countries_path,
           placeholder: t('.name') %>
        <table class='table table-responsive-sm table-striped'>
          <thead class='thead-dark'>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.alpha_2_code') %></th>
              <th><%= t('.alpha_3_code') %></th>
              <th><%= t('.numeric_code') %></th>
              <th><%= t('.mernis_code') %></th>
              <th><%= t('.yoksis_code') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @countries.each do |country| %>
              <tr>
                <td><%= country.name %></td>
                <td><%= country.alpha_2_code %></td>
                <td><%= country.alpha_3_code %></td>
                <td><%= country.numeric_code %></td>
                <td><%= country.mernis_code %></td>
                <td><%= country.yoksis_code %></td>
                <td>
                  <%= link_to_show(admin_country_path(country)) %>
                  <%= link_to_edit(edit_admin_country_path(country)) %>
                  <%= link_to_destroy(admin_country_path(country)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <nav aria-label='pagination'>
          <ul class='pagination justify-content-center'>
            <%== pagy_bootstrap_nav(@pagy) %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>