<div class='row'>
  <div class='col-lg-12'>
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'university' %><strong><%= @accreditation_standard.name %></strong>
        <div class="card-header-actions">
          <%= link_to_actions(@accreditation_standard, except: :show) %>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('.units') %></td>
              <td><%= @accreditation_standard.units.map(&:names_depth_cache).join(', ') %></td>
            </tr>
            <tr>
              <td><%= t('.accreditation_institution') %></td>
              <td><%= @accreditation_standard.name %></td>
            </tr>
            <tr>
              <td><%= t('.version') %></td>
              <td><%= @accreditation_standard.version %></td>
            </tr>
            <tr>
              <td><%= t('.status') %></td>
              <td><%= enum_t(@accreditation_standard, :status) %></td>
            </tr>
            <tr>
              <td><%= t('created_at') %></td>
              <td><%= l(@accreditation_standard.created_at, format: :long) %></td>
            </tr>
            <tr>
              <td><%= t('updated_at') %></td>
              <td><%= l(@accreditation_standard.updated_at, format: :long) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'dot-circle-o', text: t('.card_header') %>
        <div class='card-header-actions'>
          <%= link_to_new(t('.new_learning_outcome_link'), new_accreditation_standard_learning_outcome_path(@accreditation_standard)) %>
        </div>
      </div>
      <div class='card-body'>
        <table class='table table-responsive-sm table-sm'>
          <thead>
            <tr>
              <th><%= t('.learning_outcome_code') %></th>
              <th><%= t('.learning_outcome_name') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @learning_outcomes.each do |learning_outcome| %>
              <tr>
                <td><%= learning_outcome.code %></td>
                <td><%= learning_outcome.name %></td>
                <td><%= link_to_actions([@accreditation_standard, learning_outcome]) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
