<div class='row'>
  <div class='col-lg-12'>
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'dot-circle-o' %><strong><%= @outcome.code %></strong>
        <div class="card-header-actions">
          <%= link_to_actions([@unit_standard, @outcome], except: :show) %>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('.code') %></td>
              <td><%= @outcome.code %></td>
            </tr>
            <tr>
              <td><%= t('.name') %></td>
              <td><%= @outcome.name %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'dot-circle-o', text: t('.outcomes') %>
      </div>
      <div class='card-body'>
        <table class='table table-responsive-sm table-sm'>
          <thead>
            <tr>
              <th><%= t('.code') %></th>
              <th><%= t('.name') %></th>
            </tr>
          </thead>
          <tbody>
            <% @outcome.micro_outcomes.each do |outcome| %>
              <tr>
                <td><%= outcome.code %></td>
                <td><%= outcome.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
