<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'list-alt' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for([:available_course, evaluation_type], url: url, method: method) do |f| %>
          <div class='row'>
            <div class='col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='col-sm-12'>
              <%= f.association :evaluation_type %>
            </div>
            <div class='col-sm-12'>
              <%= f.input :percentage, required: true %>
            </div>
            <div class='col-sm-12'>
              <center><h3><%= t('.assessment_methods') %></h3></center>
            </div>
            <%= f.simple_fields_for :course_assessment_methods do |course_assessment| %>
              <%= render 'course_assessment_method_fields', f: course_assessment %>
            <% end %>
            <div class='form-group col-sm-12'>
              <%= link_to_add_association t('.create_assessment_method'), f, :course_assessment_methods, class: 'btn btn-outline-primary btn-sm' %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(available_course_path(@available_course)) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'shared/cocoon' %>
