<div class="col-md-8">
  <div class="card-group">
    <div class="card p-4">
      <div class="card-body">
        <h1>Giriş Yap</h1>
        <p class="text-muted">Hesabınıza giriş yapın.</p>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <%= fa_icon('user') %>
              </span>
            </div>
            <%= f.input :id_number, required: true, autofocus: true, label: false, input_html: { class: 'form-control', type: 'text' }, placeholder: 'T.C. Kimlik No', wrapper: false, as: :integer %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <%= fa_icon('lock') %>
              </span>
            </div>
            <%= f.input :password, required: true, label: false, input_html: { class: 'form-control', type: 'password' }, placeholder: 'Şifre', wrapper: false %>
          </div>
          <div class="input-group mb-3">
            <%= f.input_field :remember_me, as: :boolean, inline_label: true, label: 'Girişi Hatırla' %>
          </div>

          <div class="row">
            <div class="col-6">
              <%= f.button :submit, 'Giriş Yap', class: 'btn btn-primary px-4' %>
            </div>
            <div class="col-6 text-right">
              <%= link_to 'Şifreni mi Unuttun?', new_password_path(resource_name), class: 'btn btn-link px-4', role: 'button' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
      <div class="card-body text-center">
        <div>
          <h2>Kayıt Ol</h2>
          <p>Üniversitemize katılan öğrenci ve personellerin, kayıt olarak kendi hesaplarını oluşturmaları gerekmektedir.</p>
          <%= link_to 'Hesap Oluştur', new_registration_path(resource_name), class: 'btn btn-primary active mt-3', role: 'button' %>
        </div>
      </div>
    </div>
  </div>
</div>
