<div class='nested-fields'>
  <div class='card'>
    <div class='card-body bg-light'>
      <div class='row'>
        <div class='col-sm-12'>
          <%= f.input :calendar_event_type_id, required: true,
                                               collection: CalendarEventType.order(:name),
                                               input_html: { class: 'select_search_class' } %>
        </div>
        <div class='col-sm-3'>
          <%= f.input :start_time, required: true,
                                   as: :date_time_picker,
                                   input_html: { data: { class: 'event-date' } } %>
        </div>
        <div class='col-sm-3'>
          <%= f.input :end_time, required: true,
                                 as: :date_time_picker,
                                 input_html: { data: { class: 'event-date' } } %>
        </div>
        <div class='col-sm-3'>
          <%= f.input :location %>
        </div>
        <div class='col-sm-3'>
          <%= f.input :timezone, required: true,
                                 collection: timezone_list_with_offset,
                                 label_method: :first,
                                 value_method: :second %>
        </div>
        <div class='col-sm-3'>
          <%= f.input :visible %>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-12'>
          <%= link_to_remove_association t('.delete_event'), f, class: 'btn btn-outline-danger btn-sm' %>
        </div>
      </div>
    </div>
  </div>
</div>
