<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'street-view', text: t('.card_header') %>
        <div class='card-header-actions'>
          <%= link_to_new t('.new_calendar_link'), [:new, :calendar_management, :calendar] %>
        </div>
      </div>
      <div class='card-body'>
        <%= render 'layouts/shared/smart_search_form',
                   path: [:calendar_management, :calendars],
                   placeholder: t('.name') %>
        <table class='table table-responsive-sm table-striped table-hover'>
          <thead class="thead-dark">
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.senate_decision_date') %></th>
              <th><%= t('.senate_decision_no') %></th>
              <th><%= t('.timezone') %></th>
              <th><%= t('.academic_term') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @calendars.each do |calendar| %>
              <tr>
                <td><%= link_to("[#{full_name(calendar.academic_term)}] - #{calendar.name}", [:calendar_management, calendar]) %></td>
                <td><%= calendar.senate_decision_date %></td>
                <td><%= calendar.senate_decision_no %></td>
                <td><%= calendar.timezone %></td>
                <td><%= full_name(calendar.academic_term) %></td>
                <td>
                  <%= link_to fa_icon('file-pdf-o'),
                              [:calendar_management, calendar, format: :pdf],
                              class: 'btn btn-outline-primary btn-sm' %>
                  <%= link_to_actions(calendar, scope: :calendar_management, except: :show) %>
                  <%= link_to fa_icon('university', text: t('.assign_to_units')),
                              [:calendar_management, calendar, :units],
                              class: 'btn btn-outline-primary btn-sm' %>
                  <%= link_to fa_icon('copy', text: t('.duplicate')),
                              [:calendar_management, calendar, :duplicate],
                              class: 'btn btn-outline-primary btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label='pagination'>
      <ul class='pagination justify-content-center'>
        <%== pagy_bootstrap_nav(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
