<li class="c-sidebar-nav-item">
  <%= link_to %i[manager stats], class: 'c-sidebar-nav-link' do %>
    <%= fa_icon('area-chart', text: t('.manager.stats'), class: 'c-sidebar-nav-icon') %>
  <% end %>
</li>

<% if policy([:unit]).index? %>
  <li class="c-sidebar-nav-item">
    <%= link_to :units, class: 'c-sidebar-nav-link' do %>
      <%= fa_icon('sitemap', text: t('layouts.shared.menus.admin.units'), class: 'c-sidebar-nav-icon') %>
    <% end %>
  </li>
<% end %>

<% if policy([:meksis, :dashboard]).index? %>
  <li class="c-sidebar-nav-item">
    <%= link_to :meksis, class: 'c-sidebar-nav-link' do %>
      <%= fa_icon('th', text: t('layouts.shared.menus.admin.meksis'), class: 'c-sidebar-nav-icon') %>
    <% end %>
  </li>
<% end %>

