<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'calendar' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(@course) do |f| %>
          <%= f.error_notification %>
          <% if f.object.errors.any? %>
            <ul class="list-group list-group-accent">
              <% f.object.errors.full_messages.each do |message| %>
                <li class="list-group-item list-group-item-accent-danger list-group-item-danger">
                  <%= message %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <div class='row mt-3'>
            <div class='col-sm-4'>
              <%= f.association :unit,
                                collection:   Unit.active.coursable.order(:name),
                                label_method: :names_depth_cache %>
            </div>
            <div class='col-sm-4'>
              <%= f.input :name %>
            </div>
            <div class='col-sm-4'>
              <%= f.input :code %>
            </div>
            <div class='col-sm-4'>
              <%= f.association :course_type %>
            </div>
            <div class='col-sm-4'>
              <%= f.input :theoric,
                          input_html: { min: 0 } %>
            </div>
            <div class='col-sm-4'>
              <%= f.input :practice,
                          input_html: { min: 0 } %>
            </div>
            <div class='col-sm-4'>
              <%= f.input :laboratory,
                          input_html: { min: 0 } %>
            </div>
            <div class='col-sm-4'>
              <%= f.input :program_type,
                          collection: enum_options_for_select(f.object.class, :program_type) %>
            </div>
            <div class='col-sm-4'>
              <%= f.association :language,
                                include_blank: false,
                                selected:      Language.find_by(name: 'Türkçe').try(:id) %>
            </div>
            <div class='col-sm-4'>
              <%= f.input :status,
                          collection: enum_options_for_select(f.object.class, :status),
                          selected:   :active %>
            </div>
            <div class='col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'select2' %>
