<div class="row">
  <%= render 'card', content: HighSchoolType.count, title: '.high_school_types', path: high_school_types_path %>
  <%= render 'card', content: StudentDisabilityType.count, title: '.student_disability_types', path: student_disability_types_path %>
  <%= render 'card', content: StudentDropOutType.count, title: '.student_drop_out_types', path: student_drop_out_types_path %>
  <%= render 'card', content: StudentEducationLevel.count, title: '.student_education_levels', path: student_education_levels_path %>
  <%= render 'card', content: StudentEntrancePointType.count, title: '.student_entrance_point_types', path: student_entrance_point_types_path %>
  <%= render 'card', content: StudentEntranceType.count, title: '.student_entrance_types', path: student_entrance_types_path %>
  <%= render 'card', content: StudentGrade.count, title: '.student_grades', path: student_grades_path %>
  <%= render 'card', content: StudentGradingSystem.count, title: '.student_grading_systems', path: student_grading_systems_path %>
  <%= render 'card', content: StudentPunishmentType.count, title: '.student_punishment_types', path: student_punishment_types_path %>
  <%= render 'card', content: StudentStudentshipStatus.count, title: '.student_studentship_statuses', path: student_studentship_statuses_path %>
  <%= render 'card', content: UnitInstructionLanguage.count, title: '.unit_instruction_languages', path: unit_instruction_languages_path %>
  <%= render 'card', content: UnitInstructionType.count, title: '.unit_instruction_types', path: unit_instruction_types_path %>
  <%= render 'card', content: UnitStatus.count, title: '.unit_statuses', path: unit_statuses_path %>
  <%= render 'card', content: UnitType.count, title: '.unit_types', path: unit_types_path %>
  <%= render 'card', content: UniversityType.count, title: '.university_types', path: university_types_path %>
  <%= render 'card', content: Language.count, title: '.languages', path: languages_path %>
  <%= render 'card', content: Term.count, title: '.terms', path: terms_path %>
</div>
