<div class="row">
  <%= render 'card', size: HighSchoolType.count, text: '.high_school_types', path: high_school_types_path %>
  <%= render 'card', size: StudentDisabilityType.count, text: '.student_disability_types', path: student_disability_types_path %>
  <%= render 'card', size: StudentDropOutType.count, text: '.student_drop_out_types', path: student_drop_out_types_path %>
  <%= render 'card', size: StudentEducationLevel.count, text: '.student_education_levels', path: student_education_levels_path %>
  <%= render 'card', size: StudentEntrancePointType.count, text: '.student_entrance_point_types', path: student_entrance_point_types_path %>
  <%= render 'card', size: StudentEntranceType.count, text: '.student_entrance_types', path: student_entrance_types_path %>
  <%= render 'card', size: StudentGrade.count, text: '.student_grades', path: student_grades_path %>
  <%= render 'card', size: StudentGradingSystem.count, text: '.student_grading_systems', path: student_grading_systems_path %>
  <%= render 'card', size: StudentPunishmentType.count, text: '.student_punishment_types', path: student_punishment_types_path %>
  <%= render 'card', size: StudentStudentshipStatus.count, text: '.student_studentship_statuses', path: student_studentship_statuses_path %>
  <%= render 'card', size: UnitInstructionLanguage.count, text: '.unit_instruction_languages', path: unit_instruction_languages_path %>
  <%= render 'card', size: UnitInstructionType.count, text: '.unit_instruction_types', path: unit_instruction_types_path %>
  <%= render 'card', size: UnitStatus.count, text: '.unit_statuses', path: unit_statuses_path %>
  <%= render 'card', size: UnitType.count, text: '.unit_types', path: unit_types_path %>
  <%= render 'card', size: UniversityType.count, text: '.university_types', path: university_types_path %>
</div>