<div class="alert alert-light">
  <%= link_to_back user_path(@user) %>
  <%= link_to_new(new_user_identity_path, t('.new_identity')) %>
  <%= link_to (@identities.formal.present? ? t('.update_from_mernis') :  t('.create_from_mernis') ), save_from_mernis_user_identities_path, class: "btn btn-outline-primary btn-sm"  %>
</div>

<div class="row">
  <% @identities.each do |identity| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <%= fa_icon 'id-card' %>
          <% if identity.formal? %>
            <strong><%= identity.student_id.present? ? t('.student_identity') : t('.user_identity') %></strong>
          <% else %>
            <strong><%= t('.informal_identity') %></strong>
            <div class="card-header-actions">
              <%= link_to_edit(edit_user_identity_path(@user, identity)) %>
              <%= link_to_destroy(user_identity_path(@user, identity)) %>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <table class='table table-responsive-sm'>
            <tr>
              <td><%= t('.type') %></td>
              <td>
                <span class="badge badge-secondary">
                  <%= fa_icon('gavel', text: t('activerecord.enums.identity.types.formal')) if identity.formal? %>
                  <%= fa_icon('user', text: t('activerecord.enums.identity.types.informal')) if identity.informal? %>
                </span>
              </td>
            </tr>
            <tr>
              <td><%= t('.last_name') %></td>
              <td><%= identity.last_name %></td>
            </tr>
            <tr>
              <td><%= t('.first_name') %></td>
              <td><%= identity.first_name %></td>
            </tr>
            <tr>
              <td><%= t('.mothers_name') %></td>
              <td><%= identity.mothers_name %></td>
            </tr>
            <tr>
              <td><%= t('.fathers_name') %></td>
              <td><%= identity.fathers_name %></td>
            </tr>
            <tr>
              <td><%= t('.gender') %></td>
              <td><%= enum_t(identity, :gender) %></td>
            </tr>
            <tr>
              <td><%= t('.marital_status') %></td>
              <td><%= enum_t(identity, :marital_status) %></td>
            </tr>
            <tr>
              <td><%= t('.place_of_birth') %></td>
              <td><%= identity.place_of_birth %></td>
            </tr>
            <tr>
              <td><%= t('.date_of_birth') %></td>
              <td><%= identity.date_of_birth %></td>
            </tr>
            <tr>
              <td><%= t('.registered_to') %></td>
              <td><%= identity.registered_to %></td>
            </tr>
            <% if identity.student_id.present? %>
              <tr>
                <td><%= t('.department') %></td>
                <td><%= identity.student.unit.name %> / <%= identity.student.student_number %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
