<div class="row">
  <% @identities.each do |identity| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <%= fa_icon 'id-card' %>
          <strong><%= t('.card_header') %></strong>

          <div class="card-header-actions">
            <%= link_to_new(new_identity_path, t('.new_identity')) do %>
              <%= fa_icon 'plus' %>
            <% end %>
          </div>

        </div>
        <div class="card-body">
          <table class='table table-responsive-sm'>
            <tr>
              <td><%= t('.name') %></td>
              <td>
                <span class="badge badge-secondary">
                  <%= fa_icon('gavel', text: t('activerecord.enums.identity.names.formal')) if identity.formal? %>
                  <%= fa_icon('user', text: t('activerecord.enums.identity.names.informal')) if identity.informal? %>
                </span>
              </td>
            </tr>
            <tr>
              <td><%= t('.last_name') %></td>
              <td><%= identity.last_name %></td>
            </tr>
            <tr>
              <td><%= t('.first_name') %></td>
              <td><%= identity.first_name %></td>
            </tr>
            <tr>
              <td><%= t('.mothers_name') %></td>
              <td><%= identity.mothers_name %></td>
            </tr>
            <tr>
              <td><%= t('.fathers_name') %></td>
              <td><%= identity.fathers_name %></td>
            </tr>
            <tr>
              <td><%= t('.gender') %></td>
              <td><%= enum_t(identity, :gender) %></td>
            </tr>
            <tr>
              <td><%= t('.marital_status') %></td>
              <td><%= enum_t(identity, :marital_status) %></td>
            </tr>
            <tr>
              <td><%= t('.place_of_birth') %></td>
              <td><%= identity.place_of_birth %></td>
            </tr>
            <tr>
              <td><%= t('.date_of_birth') %></td>
              <td><%= identity.date_of_birth %></td>
            </tr>
            <tr>
              <td><%= t('.registered_to') %></td>
              <td><%= identity.registered_to %></td>
            </tr>
            <tr>
              <td colspan="2">
                <% if identity.formal? %>
                  <%= link_to(t('.update_from_mernis'), mernis_identity_path(identity), class: 'btn btn-outline-primary btn-sm') %>
                <% else %>
                  <%= link_to_edit(edit_identity_path(identity)) %>
                  <%= link_to_destroy(identity) %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>