<div class="alert alert-light">
  <%= link_to_back(:back) %>
</div>

<% if @curriculum_course_groups %>
  <nav>
    <div class="nav nav-pills" id="nav-tab" role="tablist">
      <% @curriculum_course_groups.each_with_index do |curriculum_course_group, index| %>
        <a class="nav-link <%= 'active' if index.zero? %>"
          id="nav-<%= index %>-tab"
          data-toggle="tab"
          href="#nav-<%= index %>"
          role="tab"
          aria-controls="nav-<%= index %>"
          aria-selected="true">
          <%= curriculum_course_group.name %>
        </a>
      <% end %>
    </div>
  </nav>
  <div class="tab-content mt-2" id="nav-tabContent">
    <% @curriculum_course_groups.each_with_index do |curriculum_course_group, index| %>
      <div class="tab-pane fade <%= 'show active' if index.zero? %>"
          id="nav-<%= index %>"
          role="tabpanel"
          aria-labelledby="nav-<%= index %>-tab">
        <%= render 'form', curriculum_course_group: curriculum_course_group, form_title: t('.form_title') %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render 'form', curriculum_course_group: @curriculum_course_group, form_title: t('.form_title') %>
<% end %>
