<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'calendar' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(unit) do |f| %>
          <div class='row'>
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.input :name, required: true %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :yoksis_id %>
            </div>
           <div class='form-group col-sm-6'>
              <%= f.input :detsis_id %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :founded_at, required: true, start_year: Time.zone.today.year - 50 %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :unit_status %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :unit_instruction_language %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :unit_instruction_type %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :duration, collection: 1..8 %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :unit_type %>
            </div>

            <div class='form-group col-sm-6'>
              <%= f.association :district,
                                collection: Country.find_by(
                                  alpha_2_code: Tenant.configuration.contact.country
                                ).cities.includes(:districts).order(:name),
                                as: :grouped_select,
                                group_method: :districts,
                                group_label_method: :name,
                                input_html: { id: 'district_list' } %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :parent_id, as: :select,
                                      collection: Unit.partially_passive.or(Unit.active).order(:name),
                                      input_html: { id: 'parent_unit_list' },
                                      label_method: :names_depth_cache %>
            </div>

            <div class='form-group col-sm-6'>
              <%= f.input :effective_yoksis_id, as: :select,
                                                collection: Unit.partially_passive.or(Unit.active).order(:name),
                                                input_html: { id: 'parent_unit_list' },
                                                label_method: :names_depth_cache %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'select2' %>
