<div class='alert alert-light'>
  <%= link_to_new(t('.new_unit_link'), new_unit_path) %>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'align-justify', text: t('.card_header') %>
      </div>
      <div class='card-body'>
        <%= render 'search' %>
        <table class='table table-responsive-sm table-sm'>
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.abbreviation') %></th>
              <th><%= t('.unit_type') %></th>
              <th><%= t('.unit_status') %></th>
              <th><%= t('.unit_instruction_type') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @units.each do |unit| %>
              <tr>
                <td><%= link_to(unit.names_depth_cache, unit_path(unit)) %></td>
                <td><%= unit.abbreviation %></td>
                <td><%= unit.unit_type.try(:name) %></td>
                <td><%= unit.unit_status.try(:name) %></td>
                <td><%= unit.unit_instruction_type.try(:name) %></td>
                <td>
                  <%= link_to_edit(edit_unit_path(unit)) %>
                  <%= link_to_destroy(unit) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label='pagination'>
      <ul class='pagination justify-content-center'>
        <%== pagy_bootstrap_nav(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
