<div class='row'>
  <div class='col-lg-12'>
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'university' %><strong><%= @unit.name %></strong>
        <div class="card-header-actions">
          <%= link_to_edit(edit_unit_path(@unit)) %>
          <%= link_to_destroy(@unit) %>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('.parent') %></td>
              <td><%= @unit.parent.try(:name) %></td>
            </tr>
            <tr>
              <td><%= t('.yoksis_id') %></td>
              <td><%= @unit.yoksis_id %></td>
            </tr>
            <tr>
              <td><%= t('.foet_code') %></td>
              <td><%= @unit.foet_code %></td>
            </tr>
            <tr>
              <td><%= t('.founded_at') %></td>
              <td><%= @unit.founded_at %></td>
            </tr>
            <tr>
              <td><%= t('.duration') %></td>
              <td><%= @unit.duration %></td>
            </tr>
            <tr>
              <td><%= t('.unit_type') %></td>
              <td><%= @unit.unit_type.name %></td>
            </tr>
            <tr>
              <td><%= t('.district') %></td>
              <td><%= @unit.district.name %> / <%= @unit.district.city.name %></td>
            </tr>
            <tr>
              <td><%= t('.unit_status') %></td>
              <td><%= @unit.unit_status.name %></td>
            </tr>
            <tr>
              <td><%= t('.unit_instruction_language') %></td>
              <td><%= @unit.unit_instruction_language.try(:name) %></td>
            </tr>
            <tr>
              <td><%= t('.unit_instruction_type') %></td>
              <td><%= @unit.unit_instruction_type.try(:name) %></td>
            </tr>
            <tr>
              <td><%= t('.created_at') %></td>
              <td><%= @unit.created_at %></td>
            </tr>
            <tr>
              <td><%= t('.updated_at') %></td>
              <td><%= @unit.updated_at %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>