<div class='row'>
  <div class='col-lg-5'>
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'university' %><strong><%= @unit.name %></strong>
        <%
          excepted_actions = [:show]
          excepted_actions << :edit    unless policy([:unit]).edit?
          excepted_actions << :destroy unless policy([:unit]).destroy?
        %>
        <div class="card-header-actions">
          <%= link_to_actions(@unit, except: excepted_actions) %>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('.abbreviation') %></td>
              <td><%= @unit.abbreviation %></td>
            </tr>
            <tr>
              <td><%= t('.code') %></td>
              <td><%= @unit.code %></td>
            </tr>
            <tr>
              <td><%= t('.parent') %></td>
              <td>
                <% if @unit.parent.present? %>
                  <%= link_to @unit.parent.name, @unit.parent %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><%= t('.yoksis_id') %></td>
              <td><%= @unit.yoksis_id %></td>
            </tr>
            <tr>
              <td><%= t('.detsis_id') %></td>
              <td><%= @unit.detsis_id %></td>
            </tr>
            <tr>
              <td><%= t('.effective_yoksis_id') %></td>
              <td><%= link_to(@unit.effective_unit.try(:names_depth_cache), @unit.effective_unit) if @unit.effective_unit %></td>
            </tr>
            <tr>
              <td><%= t('.foet_code') %></td>
              <td><%= @unit.foet_code %></td>
            </tr>
            <tr>
              <td><%= t('.founded_at') %></td>
              <td><%= @unit.founded_at %></td>
            </tr>
            <tr>
              <td><%= t('.duration') %></td>
              <td><%= @unit.duration %></td>
            </tr>
            <tr>
              <td><%= t('.unit_type') %></td>
              <td><%= @unit.unit_type.try(:name) %></td>
            </tr>
            <tr>
              <td><%= t('.district') %></td>
              <td><%= @unit.district.name %> / <%= @unit.district.city.name %></td>
            </tr>
            <tr>
              <td><%= t('.unit_status') %></td>
              <td><%= @unit.unit_status.try(:name) %></td>
            </tr>
            <tr>
              <td><%= t('.unit_instruction_language') %></td>
              <td><%= @unit.unit_instruction_language.try(:name) %></td>
            </tr>
            <tr>
              <td><%= t('.unit_instruction_type') %></td>
              <td><%= @unit.unit_instruction_type.try(:name) %></td>
            </tr>
            <tr>
              <td><%= t('created_at') %></td>
              <td><%= @unit.created_at %></td>
            </tr>
            <tr>
              <td><%= t('updated_at') %></td>
              <td><%= @unit.updated_at %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='col-lg-7'>
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'users' %><strong><%= t('.academic_staff') %></strong>
      </div>
      <div class="card-body">
        <table class='table table-responsive-sm'>
          <thead>
            <tr>
              <th><%= t('.id_number') %></th>
              <th><%= t('.email') %></th>
              <th><%= t('.first_name') %></th>
              <th><%= t('.last_name') %></th>
              <th><%= t('.title') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% duty_ids = @unit.duties.group(:employee_id).maximum(:id).values %>
            <% employees = Employee.joins(:duties).where(duties: { id: duty_ids }).includes(:user) %>
            <% employees.each do |employee| %>
              <% user = employee.user %>
              <tr>
                <td><%= user.id_number %></td>
                <td><%= user.email %></td>
                <td><%= user.identities.user_identity.try(:first_name) %></td>
                <td><%= user.identities.user_identity.try(:last_name) %></td>
                <td><%= user.title.to_s %></td>
                <td><%= link_to_show user_profile_path(user) %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% articles = Article.active
                     .joins(:user)
                     .where(users: {id: employees.pluck(:user_id)})
                     .includes(:user) %>

<div class='row'>
  <div class="col-sm-6">
    <div class="card">
      <div class='card-header'>
        <%= t('.publications_by_authors') %>
      </div>
      <div class="card-body">
        <%= column_chart articles.group(:user).count.transform_keys{ |user| user.identities.user_identity.full_name }.sort_by(&:last).reverse %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class='card-header'>
        <%= t('.publications_by_number_of_authors') %>
      </div>
      <div class="card-body">
        <%= column_chart articles.group(:number_of_authors).count %>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'align-justify', text: t('.academic_publishing') %>
      </div>
      <div class='card-body'>
        <%= render '/manager/stats/articles/articles', articles: articles.order("users.id ASC, year DESC NULLS LAST") %>
      </div>
    </div>
  </div>
</div>

<% %w[ancestors descendants siblings].each do |action| %>
  <div class='row'>
    <div class='col-lg-12'>
      <div class="card">
        <div class="card-header">
          <%= fa_icon 'university' %><strong><%= t(".#{action}") %></strong>
        </div>
        <div class="card-body">
          <table class='table table-responsive-sm table-sm'>
            <thead>
              <tr>
                <th><%= t('.name') %></th>
                <th><%= t('.unit_type') %></th>
                <th><%= t('.unit_status') %></th>
                <th><%= t('.unit_instruction_type') %></th>
              </tr>
            </thead>
            <tbody>
              <% @unit.send(action).active.includes(:unit_type, :unit_status, :unit_instruction_type).each do |unit| %>
                <tr>
                  <td><%= link_to(unit.names_depth_cache, unit_path(unit)) %></td>
                  <td><%= unit.unit_type.try(:name) %></td>
                  <td><%= unit.unit_status.try(:name) %></td>
                  <td><%= unit.unit_instruction_type.try(:name) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>