<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'calendar' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for([:admin, @city.country, @city, district]) do |f| %>
          <div class='row'>
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :name, required: true %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :mernis_code, required: true %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
