<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-body'>
        <%= simple_form_for([:admin, klass].flatten) do |f| %>
          <div class='row'>
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            </div>
            <% params.each do |parameter| %>
              <%= content_tag :div, class: "form-group col-sm-#{parameter[1]}" do %>
                <%= f.input parameter[0].to_sym, required: parameter[2] %>
              <% end %>
            <% end %>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
