<div id="SearchForms" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="Search">
      <h5 class="mb-0">
        <a class="collapsed"
           data-toggle="collapse"
           href="#collapseSearch"
           id="collapseSearchLink"
           aria-expanded="false"
           aria-controls="Search">
          <%= t('search') %>
        </a>
        <div class="float-right">
          <%= link_to t('reset'), :prospective_employees, class: 'btn btn-warning btn-sm' %>
        </div>
      </h5>
    </div>
    <div id="collapseSearch"
         class="collapse show"
         role="tabpanel"
         aria-labelledby="Search"
         data-parent="#SearchForms">
      <div class="card-body">
        <%= form_tag :prospective_employees, method: :get do %>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <%= label_tag :term, t('smart_search') %>
                <%= text_field_tag :term,
                                   params[:term],
                                   placeholder: t('.smart_search_placeholder'),
                                   class:       'form-control' %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= label_tag :unit_id, t('.unit') %>
                <%= select_tag(:unit_id,
                               options_from_collection_for_select(Unit.active.order(:name), :id, :names_depth_cache, params[:unit_id]),
                               include_blank: true,
                               class:         'form-control') %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= label_tag :title_id, t('.title') %>
                <%= select_tag(:title_id,
                               options_from_collection_for_select(Title.all, :id, :name, params[:title_id]),
                               include_blank: true,
                               class:         'form-control') %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= submit_tag t('search'), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    elements = [
      '#unit_id',
      '#title_id'
    ]

    $(elements.join(',')).select2();

    var dynamic_select = new DynamicSelect(parameters)
    dynamic_select.init()
  });
</script>
