<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'university' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(@unit_standard) do |f| %>
          <div class='row'>
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.association :unit, collection:   Unit.active.programs.order(:name), label_method: :names_depth_cache %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :standard %>
            </div>
            <div class='col-sm-6'>
              <%= f.input :status, collection: enum_options_for_select(f.object.class, :status), selected: :active %>
            </div>

            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'select2' %>
