<div class='card'>
  <br><h4 class='card-heading text-center'>Kullanıcı İşlemleri</h4>

  <table class="table">
    <tbody>
      <tr>
        <td><%= link_to fa_icon('key', text: 'Şifre Değişikliği'), update_path %></td>
        <td><%= link_to fa_icon('id-card', text: 'Kimlik Bilgilerim'), identities_path %></td>
      </tr>
      <tr>
        <td><%= link_to fa_icon('address-book', text: 'Adres Bilgilerim'), addresses_path %></td>
        <td><%= link_to fa_icon('phone', text: 'İletişim Bilgilerim'), root_path %></td>
      </tr>
      <tr>
        <td><%= link_to fa_icon('credit-card', text: 'IBAN Bilgilerim'), root_path %></td>
        <td><%= link_to fa_icon('car', text: 'Araç Etiketi Bilgilerim'), root_path %></td>
      </tr>
    </tbody>
  </table>
</div>
