<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'book' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(curriculum) do |f| %>
          <%= f.error_notification %>
          <div class='row'>
            <div class='form-group col-sm-6'>
              <%= f.input :name %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :number_of_semesters, collection: (2..Curriculum::MAX_NUMBER_OF_SEMESTERS) %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :unit, collection: Unit.active.curriculumable %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.association :programs,
                                collection: f.object.new_record? ? [] : f.object.unit.children.programs %>
            </div>
            <div class='form-group col-sm-6'>
              <%= f.input :status,
                          collection: enum_options_for_select(f.object.class, :status) %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'select2' %>