<div class='nested-fields col-sm-6'>
  <div class='card card-default'>
    <div class='card-body bg-light'>
      <%= link_to_remove_association f do %>
        <%= button_tag('x', type: 'button', class: 'close', data: { confirm: t('are_you_sure') }) %>
      <% end %>
      <div class="row">
        <div class="col-sm-4">
          <%= f.input :sequence,
                      collection:    (1..Curriculum::MAX_NUMBER_OF_SEMESTERS),
                      include_blank: false %>
        </div>
        <div class="col-sm-4">
          <%= f.input :year,
                      collection:    (1..Curriculum::MAX_NUMBER_OF_YEARS),
                      include_blank: false %>
        </div>
        <div class='col-sm-4'>
          <%= f.input :term,
                      collection:    enum_options_for_select(f.object.class, :term),
                      include_blank: false %>
        </div>
      </div>
    </div>
  </div>
</div>
