<div class="row">
  <% semesters.each do |semester| %>
    <div class="col-lg-<%=semesters.size > 1 ? 6 : 12 %> col-md-12">
      <div class="card">
        <div class="card-header">
          <%= fa_icon 'book' %><strong><%= "#{semester.sequence}. #{t('semester')}" %></strong>
          <div class="float-right">
            <%= link_to_new new_curriculum_semester_curriculum_course_path(semester), t('.add_course') %>
            <%= link_to_new new_curriculum_semester_curriculum_course_group_path(semester), t('.add_course_group') %>
          </div>
        </div>

        <div class="card-body table-responsive">
          <%= render 'curriculum_courses',
                     klass: 'border-primary',
                     actions: nil,
                     title: t('.compulsory_courses'),
                     semester: semester,
                     courses: semester.curriculum_courses.compulsory,
                     total_ects: semester.curriculum_courses.compulsory.sum(:ects),
                     action_visible: true %>

          <% semester.curriculum_course_groups.each do |curriculum_course_group| %>
            <%= render 'curriculum_courses',
                      klass: 'border-warning',
                      actions: safe_join([
                        link_to_edit(edit_curriculum_semester_curriculum_course_group_path(semester, curriculum_course_group)),
                          link_to_destroy([semester, curriculum_course_group])
                        ],
                        ' '
                      ),
                      title: "#{t('.elective_courses')} - #{curriculum_course_group.name}",
                      semester: semester,
                      courses: curriculum_course_group.curriculum_courses,
                      total_ects: curriculum_course_group.ects,
                      action_visible: false %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <p class="text-right">
            <strong><%= t('.total_ects') %></strong> <%= semester.total_ects %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>