<div class='row'>
  <div class='col-lg-12'>
    <div class="alert alert-light">
      <%= link_to_back curriculums_path %>
      <%= link_to_edit edit_curriculum_path(@curriculum) %>
    </div>

    <div class="card">
      <div class="card-header">
         <%= fa_icon 'book' %><strong><%= @curriculum.name %></strong>
      </div>
      <div class="card-body table-responsive">
        <table class='table table-bordered table-hover'>
          <tbody>
            <tr>
              <th><%= t('.name') %></th>
              <td><%= @curriculum.name %></td>
            </tr>
            <tr>
              <th><%= t('.unit') %></th>
              <td><%= @curriculum.unit.try(:names_depth_cache) %></td>
            </tr>
            <tr>
              <th><%= t('.semesters_count') %></th>
              <td><%= @curriculum.semesters_count %></td>
            </tr>
            <tr>
              <th><%= t('.status') %></th>
              <td><%= enum_t(@curriculum, :status) %></td>
            </tr>
            <tr>
              <th><%= t('.programs') %></th>
              <td>
                <ul class="list-group">
                  <% @curriculum.programs.each do |program| %>
                    <li class="list-group-item list-group-item-info"><%= program.name %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <% @semesters.each do |year, semesters| %>
    <div class="col-sm-12">
      <div class="card border-success mb-3">
        <div class="card-header">
          <%= fa_icon 'book' %><strong><%= "#{year}. #{t('year')}" %></strong>
        </div>
        <div class="card-body">
          <%= render 'semesters', semesters: semesters %>
        </div>
      </div>
    </div>
  <% end %>
</div>
