<%= action_bar do %>
  <%= link_to_back :back %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'street-view' %><%= t('.card_header') %> - <%= @classroom.name %>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-responsive-sm">
              <tbody>
                <tr>
                  <td><%= t('.room_number') %></td>
                  <td><%= @classroom.room_number %></td>
                </tr>
                <tr>
                  <td><%= t('.student_capacity') %></td>
                  <td><%= @classroom.student_capacity %></td>
                </tr>
                <tr>
                  <td><%= t('.exam_capacity') %></td>
                  <td><%= @classroom.exam_capacity %></td>
                </tr>
                <tr>
                  <td><%= t('.length') %> (m)</td>
                  <td><%= number_to_human(@classroom.length) %></td>
                </tr>
                <tr>
                  <td><%= t('.width') %> (m)</td>
                  <td><%= number_to_human(@classroom.width) %></td>
                </tr>
                <tr>
                  <td><%= t('.height') %> (m)</td>
                  <td><%= number_to_human(@classroom.height) %></td>
                </tr>
                <tr>
                  <td><%= t('.volume') %> (m<sup>3</sup>)</td>
                  <td><%= number_to_human(@classroom.volume) %></td>
                </tr>
                <tr>
                  <td><%= t('.available_space') %> (m<sup>2</sup>)</td>
                  <td><%= number_to_human(@classroom.available_space) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
