<div class='alert alert-light'>
  <%= link_to_back(:back) %>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'calendar' %><strong><%= @student_grade.name %></strong>
        <div class="card-header-actions">
          <%= link_to_edit(edit_student_grade_path(@student_grade)) %>
          <%= link_to_destroy(@student_grade) %>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
            <tr>
              <td><%= t('activerecord.attributes.student_grade.name') %></td>
              <td><%= @student_grade.name %></td>
            </tr>
            <tr>
              <td><%= t('activerecord.attributes.student_grade.code') %></td>
              <td><%= @student_grade.code %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
