<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'calendar' %>
        <strong><%= form_title %></strong>
      </div>
      <div class="card-body">
        <%= simple_form_for(student_drop_out_type) do |f| %>
          <div class="row">
            <div class='form-group col-sm-12'>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.input :name %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.input :code %>
            </div>
            <div class='form-group col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
