<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'align-justify', text: card_header %>
        <div class='card-header-actions'>
          <%= link_to_new([
            :new, namespace.to_sym, klass],
            t("#{namespace}.#{klass.pluralize}.index.new_#{klass}_link")
          ) %>
        </div>
      </div>
      <div class='card-body'>
        <%= render 'layouts/shared/smart_search_form',
           path: "#{klass.tableize}",
           placeholder: t("#{namespace}.#{klass.pluralize}.index.name") %>
        <table class='table table-responsive-sm table-striped'>
          <thead class='thead-dark'>
            <tr>
              <% params.each do |parameter| %>
                <%= content_tag :th do %>
                  <%= t("#{namespace}.#{klass.pluralize}.index.#{parameter}") %>
                <% end %>
              <% end %>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% collection.each do |item| %>
              <tr>
                <% params.each do |parameter| %>
                  <% value = item.send(parameter) %>
                  <%= content_tag :td do %>
                    <% enum = item.class.defined_enums.has_key?(parameter) %>
                    <% boolean = [true, false].include?(value) %>
                    <%= (boolean || enum) ? enum_t(item, parameter.to_sym) : value %>
                  <% end %>
                <% end %>
                <td>
                  <%= link_to_show([namespace.to_sym, item]) if actions.include? 'show' %>
                  <%= link_to_edit([:edit, namespace.to_sym, item]) if actions.include? 'edit' %>
                  <%= link_to_destroy([namespace.to_sym, item]) if actions.include? 'destroy' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label='pagination'>
      <ul class='pagination justify-content-center'>
        <%== pagy_bootstrap_nav(pagy) %>
      </ul>
    </nav>
  </div>
</div>
