<div class='row'>
  <div class='col-lg-12'>
    <%= action_bar do %>
      <%= link_to_back reference_path %>
    <% end %>
  </div>
  <div class='col-lg-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'tags', text: t('.card_header') %>
        <div class='card-header-actions'>
          <%= link_to_new t('.new_course_type_link'), new_reference_course_type_path %>
        </div>
      </div>
      <div class='card-body'>
        <%= render 'layouts/shared/smart_search_form',
                   path:        reference_course_types_path,
                   placeholder: t('.name') %>
        <table class='table table-responsive-sm table-striped table-hover'>
          <thead class="thead-dark">
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.code') %></th>
              <th><%= t('.min_credit') %></th>
              <th><%= t('actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @course_types.each do |course_type| %>
              <tr>
                <td><%= course_type.name %></td>
                <td><%= course_type.code %></td>
                <td><%= course_type.min_credit %></td>
                <td><%= link_to_actions([:reference, course_type], except: :show) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label='pagination'>
      <ul class='pagination justify-content-center'>
        <%== pagy_bootstrap_nav(@pagy) %>
      </ul>
    </nav>
  </div>
</div>
