<div class='row'>
  <div class='col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <%= fa_icon 'th-list' %>
        <strong><%= form_title %></strong>
      </div>
      <div class='card-body'>
        <%= simple_form_for(evaluation_type) do |f| %>
          <div class='row'>
            <div class='col-sm-12'>
              <%= f.error_notification %>
            </div>
            <div class='col-sm-6'>
              <%= f.input :name %>
            </div>
            <div class='col-sm-12'>
              <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
              <%= link_to_back(:back) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
