<!DOCTYPE html>
<html lang="tr">
  <head>
    <%= render 'layouts/shared/meta' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'baum-logo.svg', height: '36', width: '134', alt: 'BAUM Logo', class: 'navbar-brand-full' %>
      <% end %>
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon 'user' %>
            <span class='d-md-down-none'> <%= current_user.email %></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Hesabım</strong>
            </div>
            <%= link_to identities_path, class: 'dropdown-item' do %>
              <%= fa_icon('id-card', text: 'Kimlik Bilgilerim') %>
              <%= content_tag(:span, class: 'badge badge-warning') do %>
                <%= current_user.identities.count %>
              <% end %>
            <% end %>
            <%= link_to addresses_path, class: 'dropdown-item' do %>
              <%= fa_icon('home', text: 'Adres Bilgilerim') %>
              <%= content_tag(:span, class: 'badge badge-warning') do %>
                <%= current_user.addresses.count %>
              <% end %>
            <% end %>
            <%= link_to root_path, class: 'dropdown-item' do %>
              <%= fa_icon('try', text: 'IBAN Bilgilerim') %>
            <% end %>
            <div class="dropdown-header text-center">
              <strong>Ayarlar</strong>
            </div>
            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
              <%= fa_icon('shield', text: 'Şifre Değişikliği') %>
            <% end %>
            <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
              <%= fa_icon('lock', text: 'Çıkış Yap') %>
            <% end %>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link' do %>
                <%= fa_icon('home', text: 'Anasayfa', class: 'nav-icon') %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to units_path, class: 'nav-link' do %>
                <%= fa_icon('sitemap', text: 'Birimler', class: 'nav-icon') %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to countries_path, class: 'nav-link' do %>
                <%= fa_icon('street-view', text: 'Konumlar', class: 'nav-icon') %>
              <% end %>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <%= fa_icon('calendar', text: 'Akademik Takvim', class: 'nav-icon') %>
              </a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <%= link_to calendar_titles_path, class: 'nav-link' do %>
                    <%= fa_icon('calendar-plus-o', text: 'Takvim Başlığı', class: 'nav-icon') %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to calendar_types_path, class: 'nav-link' do %>
                    <%= fa_icon('calendar-check-o', text: 'Takvim Türleri', class: 'nav-icon') %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to academic_terms_path, class: 'nav-link' do %>
                    <%= fa_icon('graduation-cap', text: 'Akademik Dönemler', class: 'nav-icon') %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to academic_calendars_path, class: 'nav-link' do %>
                    <%= fa_icon('calendar', text: 'Akademik Takvimler', class: 'nav-icon') %>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        <ol class='breadcrumb'>
          <% breadcrumb_trail do |crumb| %>
            <li class="breadcrumb-item <%= crumb.current? ? 'active' : '' %>">
              <%= link_to_unless crumb.current?, crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {}) %>
            </li>
          <% end %>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%= render 'layouts/shared/aside' %>
    </div>
    <%= render 'layouts/shared/footer' %>
    <%= render 'layouts/shared/toastr' %>
  </body>
</html>
