<!DOCTYPE html>
<html lang='tr'>
  <head>
    <%= render 'layouts/shared/meta' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      flatpickr.localize(flatpickr.l10ns["<%= I18n.locale %>"])
    </script>
  </head>
  <body class='app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show'>
    <%= render 'layouts/shared/header' %>
    <div class='app-body'>
      <%= render 'layouts/shared/sidebar' %>
      <main class='main'>
        <p></p>
        <div class='container-fluid'>
          <div class='animated fadeIn'>
            <%= yield %>
          </div>
        </div>
      </main>
      <%= render 'layouts/shared/aside' %>
    </div>
    <%= render 'layouts/shared/footer' %>
    <%= render 'layouts/shared/toastr' %>
    <%= javascript_include_tag 'shared/loading' %>
  </body>
</html>
