<!DOCTYPE html>
<html lang="tr">
  <head>
    <title>Nokul</title>
    <meta name="description" content="Nokul, nitelikli okul!">
    <meta name="keywords" content="baum, omu, nokul, otomasyon, öğrenci işleri" />
    <meta name="author" content="BAUM">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Nokul</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to fa_icon('home', text: 'Anasayfa'), root_path, { class: 'nav-link' } %>
          </li>
        </ul>
        <ul class="navbar-nav px-3">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to fa_icon("user", text: "Hesabım"), update_path, { class: 'nav-link' } %>
            </li>
            <li class="nav-item">
              <%= link_to fa_icon("external-link-square", text: "Çıkış Yap"), logout_path, { class: 'nav-link' } %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to fa_icon('key', text: 'Giriş Yap'), login_path, { class: 'nav-link' } %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-9">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, { class: "alert alert-warning alert-dismissible fade show", role: "alert"} do %>
            <%= msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <% end %>
          <% end %>
          <%= yield %>
        </div>

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <%= link_to fa_icon('home', text: 'Anasayfa'), root_path, { class: 'list-group-item' } %>
            <%= link_to fa_icon('sitemap', text: 'Birimler'), root_path, { class: 'list-group-item' } %>
            <%= link_to fa_icon('map-marker', text: 'Konumlar'), root_path, { class: 'list-group-item' } %>
            <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu">
              <%= fa_icon('calendar', text: 'Akademik Takvim') %>
            </a>
            <div id="sm" class="sublinks collapse">
              <%= link_to fa_icon('calendar-plus-o', text: 'Takvim Başlığı'), calendar_titles_path, { class: 'list-group-item' } %>
              <%= link_to fa_icon('calendar-check-o', text: 'Takvim Türleri'), calendar_types_path, { class: 'list-group-item' } %>
              <%= link_to fa_icon('graduation-cap', text: 'Akademik Dönemler'), academic_terms_path, { class: 'list-group-item' } %>
              <%= link_to fa_icon('calendar', text: 'Akademik Takvimler'), academic_calendars_path, { class: 'list-group-item' } %>
            </div>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; BAUM 2017</p>
      </footer>

    </div><!--/.container-->
  </body>
</html>