<!DOCTYPE html>
<html lang="tr">
  <head>
    <%= render 'layouts/shared/meta' %>
    <%= stylesheet_link_tag 'guest', media: 'all' %>
    <%= javascript_include_tag 'guest' %>
  </head>
  <body>
    <div class="app flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/shared/toastr' %>
  </body>
  <%= render 'layouts/shared/footer' %>
</html>
